# Web Scraping Assignment 4

In [1]:

import re

# selenium
import selenium
import pandas as pd
from selenium import webdriver

# Beautiful soup
from bs4 import BeautifulSoup
import requests

# add time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException

from selenium.webdriver.support.ui import WebDriverWait

# Q1 : Scrape the details of most viewed videos on YouTube from Wikipedia:
     Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
     You need to find following details:
     A) Rank
     B) Name
     C) Artist
     D) Upload date
     E) Views

In [2]:
driver=webdriver.Chrome(r"C:/Users/HP/Downloads/chromedriver_win32 (1)/chromedriver.exe")
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [3]:
Rank = []
Name = []
Artist = []
Date = []
Views = []

In [4]:
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")
        
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")

try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
        
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")
        
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")
        
Wiki = pd.DataFrame({})
Wiki['Rank'] = Rank
Wiki['Name'] = Name
Wiki['Artist'] = Artist
Wiki['Upload Date'] = Date
Wiki['Views (in Billions)'] = Views

Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views (in Billions)
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.58
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.61
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",5.85
3,4.,Shape of You,Ed Sheeran,"January 30, 2017",5.51
4,5.,See You Again,Wiz Khalifa,"April 6, 2015",5.31
5,6.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",4.60
6,7.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.53
7,8.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.47
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.34
9,10.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",4.27
10,11.,Gangnam Style,Psy,"July 15, 2012",4.24
11,12.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.67
12,13.,Sugar,Maroon 5,"January 14, 2015",3.58
13,14.,Sorry,Justin Bieber,"October 22, 2015",3.48
14,15.,Roar,Katy Perry,"September 5, 2013",3.46
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.43
16,17.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.35
17,18.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",3.33
18,19.,Faded,Alan Walker,"December 3, 2015",3.17
19,20.,Dark Horse,Katy Perry,"February 20, 2014",3.17
20,21.,Girls Like You,Maroon 5,"May 31, 2018",3.16
21,22.,Lean On,Major Lazer,"March 22, 2015",3.12
22,23.,Bailando,Enrique Iglesias,"April 11, 2014",3.12
23,24.,Shake It Off,Taylor Swift,"August 18, 2014",3.11
24,25.,Let Her Go,Passenger,"July 25, 2012",3.11
25,26.,Axel F,Crazy Frog,"June 16, 2009",3.08
26,27.,Perfect,Ed Sheeran,"November 9, 2017",3.00
27,28.,Mi Gente,J Balvin,"June 29, 2017",3.00
28,29.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.98
29,30.,Hello,Adele,"October 22, 2015",2.90

In [5]:
print(len(Rank),
len(Name),
len(Artist),
len(Date),
len(Views))

30 30 30 30 30

In [6]:
driver.close()

# Q2 : Scrape the details team India’s international fixtures from bcci.tv.
     Url = https://www.bcci.tv/.
     You need to find following details:
      A) Match title (I.e. 1st ODI)
      B) Series
      C) Place
      D) Date
      E) Time
     
        Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
driver=webdriver.Chrome(r"C:/Users/HP/Downloads/chromedriver_win32 (1)/chromedriver.exe")
url=('https://www.bcci.tv/')
driver.get(url)

In [3]:
btn=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li/a")
driver.get(btn.get_attribute("href"))
time.sleep(3)

Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [4]:
for i in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__format']"):
    Match_Title.append(i.text)
    
for i in driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[@class='u-unskewed-text fixture__tournament-label u-truncated']"):
    Series.append(i.text)
    
for i in driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']/p/span"):
    Place.append(i.text)
        
for i in driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']/strong[1]"):
    Date.append(i.text.replace('\n',' '))

date=[i.split(' ',3)[:3] for i in Date]
date=[' '.join(i) for i in date]
Time=[i.split(' ',3)[-1] for i in Date]

fixture=pd.DataFrame({'Match Title': Match_Title,
                          "Series": Series,
                          "Place": Place,
                          "Date": date,
                          "Time": Time})
fixture

,Match Title,Series,Place,Date,Time
0,T20I,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Monday 8 November,November
1,T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",Wednesday 17 November,November
2,T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",Friday 19 November,November
3,T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",Sunday 21 November,November
4,TEST,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",Thursday 25 November,November
5,TEST,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",Friday 3 December,December
6,ODI,INDIA V WEST INDIES 2022,"Narendra Modi Stadium, Ahmedabad",Sunday 6 February,February
7,ODI,INDIA V WEST INDIES 2022,"Sawai Mansingh Stadium, Jaipur",Wednesday 9 February,February
8,ODI,INDIA V WEST INDIES 2022,"Eden Gardens, Kolkata",Saturday 12 February,February
9,T20I,INDIA V WEST INDIES 2022,"Barabati Stadium, Cuttack",Tuesday 15 February,February
10,T20I,INDIA V WEST INDIES 2022,"ACA-VDCA Stadium, Visakhapatnam",Friday 18 February,February
11,T20I,INDIA V WEST INDIES 2022,"Greenfield Stadium, Thiruvananthapuram",Sunday 20 February,February
12,TEST,INDIA V SRI LANKA 2022,"M.Chinnaswamy Stadium, Bangalore",Friday 25 February,February
13,TEST,INDIA V SRI LANKA 2022,"Punjab Cricket Association Stadium, Mohali, Ch...",Saturday 5 March,March
14,T20I,INDIA V SRI LANKA 2022,"Punjab Cricket Association Stadium, Mohali, Ch...",Sunday 13 March,March
15,T20I,INDIA V SRI LANKA 2022,"Himachal Pradesh Cricket Association Stadium, ...",Tuesday 15 March,March
16,T20I,INDIA V SRI LANKA 2022,Bharat Ratna Shri Atal Bihari Vajpai Ekana Cri...,Friday 18 March,March
17,T20I,INDIA V SOUTH AFRICA 2022,"M. A. Chidambaram Stadium, Chennai",Thursday 9 June,June
18,T20I,INDIA V SOUTH AFRICA 2022,"M.Chinnaswamy Stadium, Bangalore",Sunday 12 June,June
19,T20I,INDIA V SOUTH AFRICA 2022,"Vidarbha Cricket Association Stadium, Nagpur",Tuesday 14 June,June

In [5]:
len(url)

20

In [7]:
driver.close()

# Q 3 : Scrape the details of State-wise GDP of India from statisticstime.com.
      Url = http://statisticstimes.com/
      You have to find following details:
      A) Rank
      B) State
      C) GSDP at current price (19-20)
      D) GSDP at current price (18-19)
      E) Share(18-19)
      F) GDP($ billion)
        Note: - From statisticstimes home page you have to reach to economy page through code.

In [6]:
driver=webdriver.Chrome(r"C:/Users/HP/Downloads/chromedriver_win32 (1)/chromedriver.exe")
url = ("https://statisticstimes.com/")
driver.get(url)

In [8]:
driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button").click()
driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").click()
time.sleep(3)

GDP = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
time.sleep(3)

In [9]:
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

 
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")
    
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")
    
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")
    

try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")
    

GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share (18-19)'] = Share
GDP['GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share (18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

In [10]:
driver.close()

# Q 4 : Scrape the details of trending repositories on Github.com.
      Url = https://github.com/
      You have to find the following details:
      A) Repository title
      B) Repository description
      C) Contributors count
      D) Language used
        Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
driver=webdriver.Chrome(r"C:/Users/HP/Downloads/chromedriver_win32 (1)/chromedriver.exe")
url = ("https://github.com/")
driver.get(url)

In [3]:
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details").click()

trend_url = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
urls = trend_url.get_attribute("href")
driver.get(urls)

In [4]:
URLs = []
repository_title = []
Description = []
Contributors = []
Language = []
lang = []

repository = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))
    
title = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in title:
    repository_title.append(i.text)
    
for i in URLs:
    driver.get(i)
    time.sleep(5)
    
    try:
        desc = driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
   
    try:
        contributor = driver.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
        Contributors.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        Contributors.append('-')
    
   
    try:
        for i in driver.find_elements_by_xpath("//ul[@class= 'list-style-none']//li//span[1]"):
            lang.append(i.text)
        Language.append(lang)
    except NoSuchElementException:
        Language.append('-')
        
        
Github = pd.DataFrame({})
Github['Repository Title'] = repository_title
Github['Repository Description'] = Description
Github['Contributors Count'] = Contributors
Github['Language Used'] = Language
Github

,Repository Title,Repository Description,Contributors Count,Language Used
0,misterokaygo / MapAssist,-,16,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
1,questdb / questdb,An open source SQL database designed to proces...,50,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
2,babysor / MockingBird,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...,13,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
3,v2fly / v2ray-core,A platform for building proxies to bypass netw...,111,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
4,foxsen / archbase,教科书《计算机体系结构基础》（胡伟武等，第三版）的开源版本,-,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
5,DrKLO / Telegram,Telegram for Android source,16,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
6,files-community / Files,A modern file manager that pushes the boundari...,144,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
7,Dreamacro / clash,A rule-based tunnel in Go.,67,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
8,vandadnp / flutter-tips-and-tricks,A Collection of Flutter and Dart Tips and Tricks,-,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
9,233boy / v2ray,最好用的 V2Ray 一键安装脚本 & 管理脚本,-,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
10,aeon0 / botty,D2R Pixel Bot,2,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
11,commaai / openpilot,openpilot is an open source driver assistance ...,254,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
12,jwasham / coding-interview-university,A complete computer science study plan to beco...,226,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
13,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,116,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
14,bitcoin / bitcoin,Bitcoin Core integration/staging tree,828,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
15,solana-labs / solana,"Web-Scale Blockchain for fast, secure, scalabl...",223,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
16,getfotiaoqiang / download,佛跳墙官方版本下载页 翻墙 代理 科学上网 外网 加速器 梯子 路由,-,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
17,Kholid060 / automa,A chrome extension for automating your browser...,4,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
18,dockersamples / example-voting-app,Example Docker Compose app,32,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
19,sherlock-project / sherlock,🔎 Hunt down social media accounts by username ...,135,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
20,ACL4SSR / ACL4SSR,SSR 去广告ACL规则/SS完整GFWList规则/Clash规则碎片，Telegram频...,-,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
21,freefq / free,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/v2ray/trojan节点、蓝...,2,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
22,TandoorRecipes / recipes,"Application for managing recipes, planning mea...",64,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
23,CSSEGISandData / COVID-19,"Novel Coronavirus (COVID-19) Cases, provided b...",8,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."
24,obsproject / obs-studio,OBS Studio - Free and open source software for...,461,"[C#, Java, C++, C, Assembly, TypeScript, JavaS..."

In [5]:
driver.close()

# Q 5 : Scrape the details of top 100 songs on billboard.com.
         Url = https://www.billboard.com/
         You have to find the following details:
         A) Song name
         B) Artist name
         C) Last week rank
         D) Peak rank
         E) Weeks on board
          Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [34]:
driver=webdriver.Chrome(r"C:/Users/HP/Downloads/chromedriver_win32 (1)/chromedriver.exe")
url = ("https://www.billboard.com/")
driver.get(url)

In [36]:
charts=driver.find_element_by_xpath("//a[@class='header__main-link header__main-link--charts']").click()

In [38]:
Song_Name = []
Artist_Name =[]
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

urls = driver.find_element_by_xpath("//li[@class='header__submenu__list__element']//a")
page_url = urls.get_attribute("href")
driver.get(page_url)
time.sleep(4)

for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    Song_Name.append(i.text)
  
for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    Artist_Name.append(i.text)
   

for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']"):
    Last_week_rank.append(i.text)
    


for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']"):
    Peak_rank.append(i.text)       
    
    
for i in driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']"):
    Weeks_on_board.append(i.text)
    
    
billiboard = pd.DataFrame({})
billiboard['Name'] = Song_Name
billiboard['Artist'] = Artist_Name
billiboard['Last Week Rank'] = Last_week_rank
billiboard['Peak Rank'] = Peak_rank
billiboard['Weeks on board'] = Weeks_on_board
billiboard

,Name,Artist,Last Week Rank,Peak Rank,Weeks on board
0,Easy On Me,Adele,1,1,3
1,Stay,The Kid LAROI & Justin Bieber,2,1,16
2,Industry Baby,Lil Nas X & Jack Harlow,3,1,14
3,Fancy Like,Walker Hayes,4,3,19
4,Bad Habits,Ed Sheeran,5,2,18
...,...,...,...,...,...
95,To Be Loved By You,Parker McCollum,-,96,1
96,Ain't Shit,Doja Cat,-,24,14
97,Life Goes On,Oliver Tree,-,91,2
98,Come Through,H.E.R. Featuring Chris Brown,-,64,16
99,Nevada,YoungBoy Never Broke Again,-,58,4

In [39]:
driver.close()

# Q 6 : Scrape the details of Highest selling novels.
      Url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
      You have to find the following details:
      A) Book name
      B) Author name
      C) Volumes sold
      D) Publisher
      E) Genre

In [18]:
driver=webdriver.Chrome(r"C:/Users/HP/Downloads/chromedriver_win32 (1)/chromedriver.exe")
url = ("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")
driver.get(url)
time.sleep(3)

In [19]:
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []


for i in driver.find_elements_by_xpath("//tbody//tr//td[2]"):
    Book_name.append(i.text)


for i in driver.find_elements_by_xpath("//tbody//tr//td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
time.sleep(3)


for i in driver.find_elements_by_xpath("//tbody//tr//td[4]"):
    Volumes_sold.append(i.text)
    
   
for i in driver.find_elements_by_xpath("//tbody//tr//td[5]"):
    Publisher.append(i.text)
    

for i in driver.find_elements_by_xpath("//tbody//tr//td[6]"):
    Genre.append(i.text)    
    
    

Novels = pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [20]:
driver.close()

# Q 7 : Scrape the details most watched tv series of all time from imdb.com.
      Url = https://www.imdb.com/list/ls095964455/
      You have to find the following details:
      A) Name
      B) Year span
      C) Genre
      D) Run time
      E) Ratings
      F) Votes

In [21]:
driver=webdriver.Chrome(r"C:/Users/HP/Downloads/chromedriver_win32 (1)/chromedriver.exe")
url = ("https://www.imdb.com/list/ls095964455/")
driver.get(url)

In [22]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    

for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    

for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)
    
    
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
    
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text) 
    

TV_Series = pd.DataFrame({})
TV_Series['Name'] = Name
TV_Series['Year Span'] = Year_span
TV_Series['Genre'] = Genre
TV_Series['Run Time'] = Run_time
TV_Series['Ratings'] = Ratings
TV_Series['Votes'] = Votes
TV_Series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,894,576"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"925,873"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"910,239"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"272,388"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"232,775"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,260"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,102"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"179,246"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"37,535"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"210,665"

In [23]:
driver.close()

# Q 8 : Details of Datasets from UCI machine learning repositories.
       Url = https://archive.ics.uci.edu/
       You have to find the following details:
       A) Dataset name
       B) Data type
       C) Task
       D) Attribute type
       E) No of instances
       F) No of attribute
       G) Year
        Note: - from the home page you have to go to the Show All Dataset page through code.

In [7]:
driver=webdriver.Chrome(r"C:/Users/HP/Downloads/chromedriver_win32 (1)/chromedriver.exe")
url = (" https://archive.ics.uci.edu/")
driver.get(url)

In [8]:
viewall_dataset = driver.find_element_by_xpath("//tbody[1]//tr/td[2]/span[2]/a")
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(3)

In [9]:
view_list = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")
list_url = view_list.get_attribute("href")
driver.get(list_url)
time.sleep(3)

In [10]:

dataset_url = driver.find_elements_by_xpath("//p[@class='normal']//b/a")

urls = []
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [ ]:
# creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    # scraping  Dataset name
    try:
        dataset_name = driver.find_element_by_xpath("//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    time.sleep(3)
    
    
    
    # scraping data type
    try:
        data_type = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(3)
    
    
    # scraping Task
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(3)
    
    
    
    # scraping Attribute type
    try:
        attribute_type = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    time.sleep(3)
    
    
    
    # scraping No of Instances
    try:
        instances = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    time.sleep(3)
    
    
    
    # scraping No of Arrtibutes
    try:
        attribute = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    time.sleep(3)
    
    
    # scraping Year
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(3)

In [ ]:
# creating dataframe for scraped data
ML = pd.DataFrame({})
ML['Data Name'] = Data_name 
ML['Data Type '] = Data_type
ML['Task '] = Task 
ML['Attribute Type '] = Attribute_type 
ML['No of Instance '] = No_of_instances
ML['No of Attributes '] = No_of_attributes 
ML['Year '] = Year 
ML

In [ ]:
driver.close()