In [16]:
#!pip install selenium

QUESTION-1
Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [75]:
import selenium
import pandas as pd
from selenium import webdriver

In [76]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver")

In [77]:
url='https://www.naukri.com/'
driver.get(url)

In [78]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')

In [79]:
search_job.send_keys('Data Analyst')

In [80]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('banglore')

In [81]:
search_button=driver.find_element_by_xpath('//button[@class="btn"]')
search_button.click()

In [82]:
job_title=driver.find_elements_by_xpath('//div[@class="info fleft"]/a')
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="9f0aedd6-ee62-41f7-9990-0c33e986945c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="c92c50e4-a2c4-444c-b96a-e2d36cca43e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="5cd1e25b-a8ca-4ab0-84ce-4f244a2fc240")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="c9c5cd3a-5eae-499b-b2a5-9309daa59d29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="5a39be46-fa14-4ed2-b6a9-7cc5e82306f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="75919524-ace4-497e-9c81-6ed76d477821")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="951d2187-2ce0-4e47-9100-e1b7f855d216")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="f7e06216-54ed-449c-8859-8bbe40c6fb7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="5fe37cce-4885-4b6d-a6ab-98fe3f89dbd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="77353ee7-8431-4997-9113-cf1ae8133f03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="4653f351-a80c-4fa5-9897-482d00f73007")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="ffa3e6bf-a7fd-4263-9a43-a6958f3a6f58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="054154fa-e28c-4d87-b707-0a79ad3989ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="af595e97-f132-4cdb-9814-84b1fa143794")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="459215f1-2e80-4422-ba46-d5031092284f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="a3ea18b9-d7bb-4cbc-85b4-aba9634cd591")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="7edfb465-53dc-45f7-a4d7-225f5e5cca28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="ed7f4971-9773-4ab0-b7f0-25f42e881d91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="f34ee260-67d3-422c-ab37-e55407989402")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="e8fdf980-b043-420c-93a6-d96d878bff6c")>]

In [83]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)
    
job_titles[:10]

['Business Data Analyst - Google Data Studio & SQL',
 'Executive Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - I/II',
 'Data Analyst',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Business Data Analyst - MIS & Reporting',
 'Senior Data Analyst',
 'Senior Data Analyst']

In [84]:
cname=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
cname

[<selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="05bfc38f-e722-465d-b0c4-d750a076f1e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="09f63e0f-ed05-4470-886e-10a35f55125a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="fa5cfb66-9204-43c9-9c90-c0c2050892ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="5ecdeb9f-5b04-49a0-b4d7-36ba484fb90f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="8fd1f6a2-9461-4839-8aa0-a0bc614fb4b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="83acf7d3-37b9-4fdd-b86d-17e21225e7c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="8cab8b75-e429-4ab8-983f-7ee80c6cf020")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="f4d45b86-2451-428b-bf89-a35df5251034")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="9e13fe96-fa51-4f28-b645-94df80941cef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="98731f6c-f0e6-4c9e-832a-9fdee6091266")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="0a2ecab6-d875-47df-a260-4a0f77417432")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="0b74bbac-a268-4b44-ba0a-acea42ac892b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="418b0097-eceb-413c-ba01-cdfbbd73ae63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="4a0264d1-c40b-4e4a-b488-df0b9913004f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="7217bc45-fcf6-4054-881c-5a4cd38285b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="b6c930b8-2316-4b44-8e31-e5a63289d5e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="365d397a-c27e-4fed-8ef7-8be9c8ee6cce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="04a848b4-8d17-428b-81db-c37aef9b7bf1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="1232c982-275e-4a19-85bf-d7873476a30c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="e5b6b00d-98c6-4438-b23e-a01eb9f14067")>]

In [85]:
company_name=[]
for i in cname:
    company_name.append(i.text)
company_name[:10]

['AVE-Promagne',
 'Gokaldas Exports Ltd',
 'Virtusa Consulting Services Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'INTERTRUST GROUP',
 'Flipkart',
 'Flipkart']

In [108]:
job_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]//span[1]')
job_loc

[<selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="9e71a7b5-212b-4ea0-8698-7b242fe5d532")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="7b7d83db-bb8c-4b15-8ef5-f6592738e9f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="cdf42621-d946-4965-ae45-f2a33091511e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="4f2192d7-1ab6-4e87-8081-c9550f12f76c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="245dbe6f-b0c2-4b7d-b3f1-799e4edec690")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="e1789c3d-2096-4b3f-9158-7ce1a5e7208e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="53b127cf-f159-4344-9785-bc871b9a135b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="571d17e1-5ba7-49c6-a690-5cbab9737cda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="ea8d880e-b124-497c-9532-080c223ce610")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="d5d3fc1f-f11d-4bc6-8b3a-abc402d906bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="0e72e032-de91-42aa-a1c9-f7d1c95bc61f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="2d26a896-1731-45c1-b0fe-f559e6a6157a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="12c88953-b9b5-4cc4-8dd7-25ce4409cfa4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="8277c266-90b5-4c6e-920e-20cfc9cca701")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="41ec17b1-b7ea-4c1d-8bb5-f414f9f8efe3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="c08d54f3-c19c-4838-8640-a7f890914e71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="3eba82a5-ca9d-4ee2-ad7d-97ae2a38fc75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="4ecfef54-6bfb-4568-8ae1-d13e0d715f69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="35365117-fcb1-4715-ac4f-7b2cb4d05b4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="517c3c48-ac90-46cc-ab92-b6c97a68699a")>]

In [109]:
job__location=[]
for i in job_loc:
    job__location.append(i.text)
job__location[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru(Bellandur)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [110]:
len(job__location)

20

In [111]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp

[<selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="96297182-8fe3-4a87-b73f-3b716b2e6a20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="61160684-0e3d-4650-8d19-658edfa1f6e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="3dd54da3-06b9-4c5b-9ef1-791c27a19514")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="e85de764-de2c-4923-90e1-178c5ff8599c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="0e736e43-734f-4ba8-9767-680b3bb484c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="5d6c92a4-5f4d-424a-a387-fa9b9c2cf84a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="bd3f89c6-4bf9-4bbd-bde1-25aede8b4f34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="12358b6f-4a91-4698-b5c6-adcdec8c95cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="99b13e3a-dc85-4b22-b9d0-71174220d6be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="d6ce36e5-262c-4dc7-bac0-bc606c63c340")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="6cc347ae-2e3f-4d7d-9675-8c6180235b06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="13f85c04-0c50-49d4-bfe0-5a07e434b654")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="fba5b989-bdc3-4ddf-9c2c-454c9279c0f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="e78ae2e2-5d8e-49bf-815d-74b4c8f6ef5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="ccc97836-6714-4e80-8746-4e6092f6e41c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="bc348b4f-4068-44ea-ba00-3d633f9e2e29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="ab53711a-6540-4888-b17a-657ff0ca8339")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="c9e544fc-8aeb-4e9e-86e9-07c3dc65ef3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="0b6631c0-3097-49c0-9760-4797b0591394")>,
 <selenium.webdriver.remote.webelement.WebElement (session="65980e77c0d4f183e162c69cb78688d7", element="135f1dbc-0c91-44f2-8923-23a24d170f69")>]

In [112]:
experience=[]

for i in exp:
    
    experience.append(i.text)
    
experience[:10]

['3-8 Yrs',
 '0-3 Yrs',
 '8-12 Yrs',
 '3-6 Yrs',
 '1-4 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '2-3 Yrs',
 '3-8 Yrs']

In [113]:
import pandas as pd

In [114]:
df=pd.DataFrame()
df["JOB_TITLE"]=job_titles[:10]
df["EXPERIENCE_REQUIRED"]=experience[:10]
df["LOCATION"]=job__location[:10]
df["COMPANY_NAME"]=company_name[:10]
df

,JOB_TITLE,EXPERIENCE_REQUIRED,LOCATION,COMPANY_NAME
0,Business Data Analyst - Google Data Studio & SQL,3-8 Yrs,Bangalore/Bengaluru,AVE-Promagne
1,Executive Data Analyst,0-3 Yrs,Bangalore/Bengaluru,Gokaldas Exports Ltd
2,Senior Data Analyst,8-12 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Virtusa Consulting Services Pvt Ltd
3,Data Analyst - I/II,3-6 Yrs,Bangalore/Bengaluru,Philips India Limited
4,Data Analyst,1-4 Yrs,Bengaluru/Bangalore,IBM India Pvt. Limited
5,Hiring For the role - DATA Analyst (Flipkart),1-6 Yrs,Bangalore/Bengaluru(Bellandur),Allegis Services India Pvt. Ltd.
6,Hiring For the role - DATA Analyst (Flipkart),1-6 Yrs,Bangalore/Bengaluru(Bellandur),Allegis Services India Pvt. Ltd.
7,Business Data Analyst - MIS & Reporting,3-8 Yrs,"Mumbai, Bangalore/Bengaluru",INTERTRUST GROUP
8,Senior Data Analyst,2-3 Yrs,Bangalore/Bengaluru,Flipkart
9,Senior Data Analyst,3-8 Yrs,Bangalore/Bengaluru,Flipkart

QUESTION-2

Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [50]:


import selenium
import pandas as pd
from selenium import webdriver

driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver")

url='https://www.naukri.com/'
driver.get(url)

search_job=driver.find_element_by_id('qsb-keyword-sugg')


search_job.send_keys('Data Scientist')

search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('banglore')

search_button=driver.find_element_by_xpath('//button[@class="btn"]')
search_button.click()

In [55]:
url=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
url

[<selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="5c1d74be-c61e-4a00-b704-811868d3ea92")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="91bf2120-3148-49ef-a00c-dd1248847234")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="0913f490-d449-42a7-9f8a-ae1bae057a63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="5724d99f-60e5-4aa6-b3bf-842b6d24b9e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="f0c0080a-71c5-4d1b-ab8e-27e0fbed530c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="37344644-98ab-4b05-85ea-daff056a9ce3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="2bb6fddc-8c42-4490-acf1-82b1289259d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="3877e70a-4aa9-4b6e-97d9-403e1ce53e70")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="db012fc8-55e2-4585-92b2-2e798403f548")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="b0b2ff93-0639-4ee6-8f55-d2560c21608b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="4fa8fa5c-56fa-4274-af38-8489d1c69c41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="ece3fb2b-445c-45d7-a300-2758d74a871b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="50ed5f24-9d95-4450-bf6c-a3f172ab23fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="0282ed02-d829-47b8-965d-d7cf83baad5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="ef264fe7-9ce9-4bc3-8ab8-a6a9dc44e761")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="bae8262f-5a11-4b63-9ef4-19066d131fb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="40f025b4-4545-42a8-a716-0c0d8079e5f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="b178fbff-7310-4e4f-878d-0a3c01f399e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="601ce50a-838d-4641-972c-479d5104f15d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2cee862f99dba4c37e6091f529fcf55a", element="0d01ce15-9005-47c4-97fc-6ff8e8a7fae1")>]

In [56]:
job_opening_urls=[]
for i in url:
    #job_title=driver.find_elements_by_xpath("//h1[@class='av-special-heading-tag ']")
    job_opening_urls.append(i.get_attribute('href'))
job_opening_urls

['https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=16311037411279333&xp=1&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=16311037411279333&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=16311037411279333&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-070921501517?src=jobsearchDesk&sid=16311037411279333&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-ave-promagne-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-8-years-060921904967?src=jobsearchDesk&sid=16311037411279333&xp=5&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-6-to-8-years-010921906637?src=jobsearchDesk&sid=16311037411279333&xp=6&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-010921906105?src=jobsearchDesk&sid=16311037411279333&xp=7&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bangalore-bengaluru-6-to-11-years-080221900886?src=jobsearchDesk&sid=16311037411279333&xp=8&px=1',
 'https://www.naukri.com/job-listings-freelance-data-scientist-project-based-shikvix-bangalore-bengaluru-3-to-8-years-060921008814?src=jobsearchDesk&sid=16311037411279333&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-neenopal-intelligent-solutions-private-limited-bangalore-bengaluru-2-to-5-years-080921006998?src=jobsearchDesk&sid=16311037411279333&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-prescience-decision-solutions-private-limited-bangalore-bengaluru-5-to-10-years-080921005624?src=jobsearchDesk&sid=16311037411279333&xp=11&px=1',
 'https://www.naukri.com/job-listings-requirement-for-data-scientist-mumbai-bangalore-crisil-limited-bangalore-bengaluru-mumbai-all-areas-2-to-6-years-080921005523?src=jobsearchDesk&sid=16311037411279333&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921602158?src=jobsearchDesk&sid=16311037411279333&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921002157?src=jobsearchDesk&sid=16311037411279333&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ml-sp-staffing-services-private-limited-pune-chennai-bangalore-bengaluru-10-to-15-years-100621006203?src=jobsearchDesk&sid=16311037411279333&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16311037411279333&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-2-to-4-years-010921906678?src=jobsearchDesk&sid=16311037411279333&xp=17&px=1',
 'https://www.naukri.com/job-listings-cognitive-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-030921904668?src=jobsearchDesk&sid=16311037411279333&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-big-data-capgemini-technology-services-india-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-11-years-030921008208?src=jobsearchDesk&sid=16311037411279333&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-payments-compliance-airbnb-global-capability-center-private-limited-bangalore-bengaluru-4-to-9-years-020921903258?src=jobsearchDesk&sid=16311037411279333&xp=20&px=1']

In [57]:
len(job_opening_urls)

20

Extracting job titles of the non banner type

In [59]:
job_titles=[]
for i in job_opening_urls:
    driver.get(i)
    time.sleep(10)
    try:
        job_title=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append(job_title.text)
    except:
        job_titles.append("--")
job_titles

['--',
 'Associate Data Scientist',
 '--',
 'SENIOR DATA SCIENTIST',
 'Data Scientist (Python & SQL)',
 '--',
 '--',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Freelance Data Scientist Project Based',
 'Data Scientist',
 'Data Scientist',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - ML',
 '--',
 '--',
 '--',
 '--',
 'Senior Data Scientist, Payments compliance']

In [ ]:
import time

In [66]:
job=[]
for i in job_opening_urls[:10]:
    
    driver.get(i)
    time.sleep(5)
    try:
         job_title=driver.find_element_by_xpath("//h1[@class='av-special-heading-tag ']")
    
         job.append(job_title.text)
    except:
         job.append("--")
job

['LEAD DATA SCIENTIST BFSI',
 '--',
 'DATA SCIENTIST: ADVANCED ANALYTICS',
 '--',
 '--',
 'SR DATA SCIENTIST',
 'SR DATA SCIENTIST',
 '--',
 '--',
 '--']

Extracting job description for the non-banner type

In [75]:

job_desc=[]
for i in job_opening_urls[:10]:
    
    driver.get(i)
    time.sleep(5)
    try:
        job_d=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_desc.append(job_d.text.replace("\n","new line"))
    except:
        job_desc.append("--")

job_desc

['--',
 'Job descriptionnew lineUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomesnew lineWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.new lineSelecting features, building and optimizing classifiers using machine learning and deep learning techniquesnew lineCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systemsnew lineProcessing, cleansing, and verifying the integrity of data used for analysisnew lineDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.new lineAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.new lineJob Qualifications:new lineMaster s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product developmentnew lineExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.new lineStrong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etcnew lineHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learningnew lineStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.new lineDeep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalentnew lineExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.new lineProficiency in using query languages, such as SQL, PL/SQLnew lineHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.new lineGood applied statistics skills, such as distributions, statistical testing, regression, etc.new lineGood ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.new lineA team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.new lineAbility to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlinesnew lineA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.new lineA self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data sciencenew lineRoleClinical Research Associate/Scientistnew lineIndustry TypeMedical Services / Hospitalnew lineFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnologynew lineEmployment TypeFull Time, Permanentnew lineRole CategoryR&Dnew lineEducationnew lineUG :Any Graduatenew linePG :Post Graduation Not Requirednew lineKey Skillsnew lineProduct managementComputer sciencemetadataMachine learningAgilePLSQLHealthcareQlikViewData miningPython',
 '--',
 'Job descriptionnew line  Skillsnew lineRequired Skills: Data Science, Machine Learning, Deep Learning, Python, NLPnew lineDesired Skills: Computer Visionnew lineRoles and responsibilitiesnew lineExperience in Data Modelling, R, Python, SQL, Data Science, Machine Learning, Deep Learning, NLP, Statisticsnew lineHave ability to solve Business problems using Datanew lineShould possess extensive knowledge of and experience in applying data mining and machine learning techniques on large amount of datasetsnew lineHigh level of proficiency in statistical tools like R, Pythonnew lineCandidate will be expected to communicate analytical results in a way that is meaningful for business stakeholders and provides actionable insights.new lineHave the ability to discover new opportunities where advanced analytical techniques can be leveraged for solving business problemsnew lineGood to Havenew lineExpertise in programming languages like Java/C/C /Pythonnew lineExperience with relational databases and SQL is good to havenew lineExperience in audio and video analyticsnew lineRelevant experience in Big Data platforms like Hadoop eco-systemnew lineCome up with innovative algorithms and solutionsnew lineStaffing Type:Permanentnew lineRoleClinical Research Associate/Scientistnew lineIndustry TypeIT Services & Consultingnew lineFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnologynew lineEmployment TypeFull Time, Permanentnew lineRole CategoryR&Dnew lineEducationnew lineUG :Any Graduatenew linePG :Any Postgraduatenew lineKey Skillsnew lineHospitalityNSEStaffingBfsiAnalyticalAgileData miningAnalyticsAutomotiveSQL',
 'Job descriptionnew lineRequired Technical and Professional Expertisenew line• 6+ years of industry work experience in data scientist projectsnew line• Master’s degree or higher in Statistics/Math/Computer Science or related fieldnew line• Background in applied statistical modeling on large experimental or observational data setsnew line• Experience extracting data from a variety of sources, and a desire to expand those skills (working knowledge SQL is required, Spark is a plus)new line• Experience with one or more statistical or machine learning software such as R, Python, etc.new line• Must showcase past work through published articles/GitHub/social medianew linenew linePreferred Technical and Professional Expertisenew line• Knowledge of distributed computing systems, e.g. Cosmos, Spark, Hadoop, and relational database management systemnew line• PhD. in Statistics is preferrednew line• You love collaborative environments that use agile methodologies to encourage creative design thinking and find innovative ways to develop with cutting edge technologiesnew line• Ambitious individual who can work under their own direction towards agreed targets/goals and with creative approach to worknew line• Intuitive individual with an ability to manage change and proven time managementnew line• Proven interpersonal skills while contributing to team effort by accomplishing related results as needednew lineRoleData Analystnew lineIndustry TypeIT Services & Consultingnew lineFunctional AreaAnalytics & Business Intelligencenew lineEmployment TypeFull Time, Permanentnew lineRole CategoryAnalytics & BInew lineEducationnew lineUG :B.Sc in Maths, Statisticsnew linePG :MS/M.Sc(Science) in Maths, Statisticsnew lineDoctorate :Doctorate Not Requirednew lineKey Skillsnew lineRData scienceData analyticsSQLPython',
 '--',
 '--',
 'Job descriptionnew lineRoles and Responsibilitiesnew lineRequirements :new linenew line- 6-9 years of strong experience in data mining, machine learning and statistical analysis.new linenew line- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)new linenew line- Ability to lead and deliver in a fast-paced start-up environment.new linenew line- Fluency in tools such as Python/ R/ Matlab etc.new linenew line- Strong intuition for data and Keen aptitude on large scale data analysisnew linenew line- Excellent written and verbal communication skills.new linenew line- Ability to collaborate across teams and strong interpersonal skills.new lineRoleData Analystnew lineIndustry TypeIT Services & Consultingnew lineFunctional AreaAnalytics & Business Intelligencenew lineEmployment TypeFull Time, Permanentnew lineRole CategoryAnalytics & BInew lineEducationnew lineUG :B.Sc in Computers, Statisticsnew linePG :MS/M.Sc(Science) in Computers, Statisticsnew lineDoctorate :Ph.D/Doctorate in Statistics, Computersnew lineKey Skillsnew lineData ScienceRData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 "Job descriptionnew linenew lineJob description:new linenew lineSeeking senior data scientists for project-based roles that involve working on various projects.new linenew lineThe candidate must have experience in Python coding language and machine learning. The candidate will be working on a part-time basis and hours will be flexible based on the candidate's availability.new lineOpportunity to grow in a startup setting.new lineWhat you'll need:new lineB.Tech in CS or Statistics with demonstrable experience of over 5 years through publications/deployed solutions/projects.new lineM.Tech or Ph.D. in CS or Statistics with demonstrable experience of over 3 years through publications/deployed solutions/projects.new lineA deep understanding of applied statistical analysis and predictive modeling is desired.new lineThe candidate must have a thorough grasp of the theory and application of broad ML algorithms namely, but not limited to regression, SVM, Tree, Random Forests, Boosting, Neural Network, clustering, forecasting, deep learning, text analysis, etc.new lineIt is not expected that the candidate has actually worked on all these modules.new lineStrong proficiency in Python or R is necessarynew linenew lineRoleData Analystnew lineIndustry TypeIT Services & Consultingnew lineFunctional AreaAnalytics & Business Intelligencenew lineEmployment TypePart Time, Freelance/Homebasednew lineRole CategoryAnalytics & BInew lineEducationnew lineUG :Any Graduatenew lineKey Skillsnew linePredictive ModelingRAlgorithmsSVMClusteringMachine LearningStatistical AnalysisStatisticsDeep LearningPython",
 'Job descriptionnew lineRoles and Responsibilitiesnew lineWe are looking for someone who would be responsible for analyzing data and providing business insights. As a Data Scientist your responsibilities will include understanding the business problem and experimenting with different modelling architectures to create the best possible setup from model performance as well as computational performance. To do this job successfully, you need exceptional skills in Machine Learning and Programming. Your ultimate goal will be to find the best data-based solution for the problem at hand.new lineMoreover, you are expected to learn fast and deliver quickly in a fast-paced startup environment. If you thrive on ambiguity and are a problem solver and yet deliver value to clients, feel free to reach out to us.new lineWe are looking ONLY FOR SELF DRIVEN INDIVIDUALS with a desire to excel in Data Science Domain.new lineUnderstanding business objectives and developing models that help to achieve them, along with metrics to track their progressnew lineDevelop and maintain robust data processing pipelines and reproducible modeling pipelinesnew lineBuild mathematical models to solve various problems ranging from Time Series forecasting to Neural Networks and ensure seamless deployment in production pipelines.new lineAnalyze experimental results, iterate and refine models to create significant business impactnew lineFollow strict coding standards and other software engineering best practicesnew linenew linenew lineDesired Candidate Profilenew lineProven experience as a Data Scientist or similar rolenew lineStrong SQL, R/Python Skillsnew lineShould have familiarity with Machine Learning Models and fundamentals in Forecasting and Optimization Techniquesnew lineShould have strong mathematical background & analytical bent of mindnew lineStrong Problem-Solving Abilitynew lineAbility to communicate well in a highly collaborative team environment, consisting of both technical and non-technical personnelnew lineReliable self-starter that is capable of working with a high degree of autonomynew linenew linenew linePerks and Benefitsnew linenew lineNeenOpal is a global management consulting firm with a unique and specialized focus on Data Science.new lineWe provide services across the whole value chain of an organization - Digital Strategy, Sales & Marketing, Supply Chain & Logistics as well as Finance. Youll have a blast doing it in our fun, passionate environment.new lineRoleData scientistnew lineIndustry TypeManagement Consultingnew lineFunctional AreaIT Software - Othernew lineEmployment TypeFull Time, Permanentnew lineRole CategoryNot mentionednew lineEducationnew lineUG :Any Graduatenew linePG :Any Postgraduatenew lineKey Skillsnew lineData SciencePythonSQLnew lineExcelSoftware EngineeringProblem SolvingNeural NetworksTime SeriesData AnalysisBusiness InsightsData ProcessingMachine Learningnew lineSkills highlighted with ‘‘ are preferred keyskills']

In [93]:
#Extracting company name and location
company=[]
location=[]
for i in job_opening_urls[:10]:
    
    driver.get(i)
    time.sleep(5)
    try:
         company_name=driver.find_element_by_xpath("//div[@class='jd-header-comp-name']/a")
         loc=driver.find_element_by_xpath("//span[@class='location ']/a")
         company.append(company_name.text)
         location.append(loc.text)
    except:
         company.append("--")
         location.append("--")
            
company

['--',
 'Philips India Limited',
 '--',
 'Happiest Minds Technologies Pvt.Ltd',
 'AVE-Promagne',
 '--',
 '--',
 'Wrackle Technologies Pvt Ltd',
 'Shikvix',
 'NeenOpal Intelligent Solutions Private Limited']

In [94]:
location

['--',
 'Bangalore/Bengaluru',
 '--',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad',
 '--',
 '--',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [95]:
company2=[]
location2=[]
for i in job_opening_urls[:10]:
    
    driver.get(i)
    time.sleep(5)
    try:
         company_name=driver.find_element_by_xpath("//div[@class='f14 lh18 alignJ']/p")
         loc=driver.find_element_by_xpath("//span[@class='slide-meta-loc pull-left']/a")

         company2.append(company_name.text)
         location2.append(loc.text)
    except:
         company2.append("--")
         location2.append("--")

In [96]:
company2

['IBM India Pvt. Limited',
 '--',
 'IBM India Pvt. Limited',
 '--',
 '--',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 '--',
 '--',
 '--']

In [97]:
len(location)

10

In [98]:
location2

['Bengaluru',
 '--',
 'Bengaluru',
 '--',
 '--',
 'Bengaluru',
 'Bangalore/Bengaluru',
 '--',
 '--',
 '--']

In [99]:
#merging the two lists
company_=[]
list=[0,3,6,7]
for i in list:
    for j in range(0,10):
        if(company[j]!="--"):
          company_.append(company[j]) 
        else:
            if(company[j]!=company2[i]):
                company_.append(company2[i])
            else:
                company_.append(company2[i+1])
company_[:10]

['IBM India Pvt. Limited',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Happiest Minds Technologies Pvt.Ltd',
 'AVE-Promagne',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Wrackle Technologies Pvt Ltd',
 'Shikvix',
 'NeenOpal Intelligent Solutions Private Limited']

In [100]:
len(location)

10

In [101]:
job__=[]
list=[0,3,6,7]
for i in list:
    for j in range(0,10):
        if(job_titles[j]!="--"):
          job__.append(job_titles[j]) 
        else:
            if(job_titles[j]!=job[i]):
                job__.append(job[i])
            else:
                job__.append(job[i+1])
job__[:10]

['LEAD DATA SCIENTIST BFSI',
 'Associate Data Scientist',
 'LEAD DATA SCIENTIST BFSI',
 'SENIOR DATA SCIENTIST',
 'Data Scientist (Python & SQL)',
 'LEAD DATA SCIENTIST BFSI',
 'LEAD DATA SCIENTIST BFSI',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Freelance Data Scientist Project Based',
 'Data Scientist']

In [104]:
location__=[]
list=[0,3,6,7]
for i in list:
    for j in range(0,10):
        if(location[j]!="--"):
          location__.append(location[j]) 
        else:
            if(location[j]!=location2[i]):
                location__.append(location2[i])
            else:
                location__.append(location2[i+1])
location__[:10]

['Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad',
 'Bengaluru',
 'Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [105]:
job_desc2=[]
for i in job_opening_urls[:10]:
    driver.get(i)
    time.sleep(5)
    try:
        jobdesc=driver.find_element_by_xpath("//div[@class='nConfig_textblock ']")
        job_desc2.append(jobdesc.text.replace("\n"," new line: "))
    except:
        job_desc2.append("--")
    job_desc2

In [106]:
job_desc2

['Job Description new line: Introduction new line: Software Developers at IBM are the backbone of our strategic initiatives to design, code, test, and provide industry-leading solutions that make the world run today - planes and trains take off on time, bank transactions complete in the blink of an eye and the world remains safe because of the work our software developers do. Whether you are working on projects internally or for a client, software development is critical to the success of IBM and our clients worldwide. At IBM, you will use the latest software development tools, techniques and approaches and work with leading minds in the industry to build solutions you can be proud of. new line:  new line: Your Role and Responsibilities new line: IBM s Global Technology Services (GTS) business unit has embarked on a mission to be the most trusted partner to our clients and enable them with game changing technology backbone to drive competitive advantage. One of the most significant & challenging areas for our clients is Data. From identifying & capturing to curation & consumption - we would like to simplify, automate, and accelerate the data lifecycle within our client s myriad use cases. new line: To this effect we have launched specific offering(s) and are building out a team of passionate achievers to help us define, create, market & deliver data solutions to our clients. We are looking for a passionate Data Scientists with expertise in Machine Learning, who can contribute to deliver on this vision. This is a fun and fast paced environment, where developers are empowered to innovate and learn fast is our standard operating model. new line: As a Senior Data Scientist you will be at the forefront of this ride and get to work with end clients on a regular basis. You will be the face of GTS & evangelize the data science & ML solutions that we have to offer. You will create compelling value proposition and targeted content to significantly improve our chances of winning in the marketplace. You will defend IBM solutions and build trust with the client at all levels -operational to executive. You will help drive, qualify & close opportunities. You will be responsible for the execution and successful delivery of Data Science assignments. You will be responsible for identifying and supporting current and new hypotheses. With your understanding of complex concepts, you will translate hypotheses into actionable items that are understandable by non-technical business users. You understand challenges in the BFSI domains & can discover new avenues to apply AI/ML solutions to solve these challenges. The problems we address are significantly complex and we expect you to lead excellence in our data science methodologies. You have a distinct ability to identify and implement robust, efficient, and scalable solutions that leverage multiple techniques and/or technologies. You will Provide guidance and architecture support to platform development teams and oversee the development from initial concept to production deployment new line:  new line: Required Technical and Professional Expertise new line: As a leader in Data science organization, lead multiple scrum teams to deliver innovative ML solutions in BFSI space new line: PH.D or Master s degree in a quantitative field such as computer science, applied mathematics, statistics, physics, engineering or finance new line: Overall Data Science, Statistical Analysis, Data Analytics & Machine Learning experience of 10 years new line: 7 years of BFSI domain experience in implementing data science or AI solutions from exploration to production new line: 3 years of experience in a responsible senior or team lead role managing a team of data scientists who develop robust machine learning models to solve actual business problems new line: Expert understanding of ML Production deployments. Have atleast 3 years of experience in production grade ML design, development & deployment new line: Work closely with internal and external stakeholders, both technical and non-technical and help translate deep ML knowledge to stakeholders. new line: Work closely with ML engineering/Infrastructure team to help define the vision of ML training and ML inference platforms running on Cloud as well as On-prem new line: Mentor and grow Junior data scientists in the team on both DS modelling and software engineering skills new line: Expert ability to define Data Science model development & MLOps process, workflows, coding practices & DevOps practices new line: Extensive overview of applied methods in statistics, machine learning and artificial intelligence new line: Expert understanding of various AI/ML technology stacks including Cloud Based services new line: Help define the data science development workflows from coding and architecture best practices, data strategy, to ML training and Inference platforms new line: Demonstrated experience in creating AI/ML solutions within the BFSI space: new line: Banking: Credit, Risk, Customer Exp, Open Banking, Digital Banking, Cross-Sell, Up-Sell, Branch Ops, Treasury, Cards Business, SME Banking, Wealth Management new line: Insurance/Insurtech: Claims, Operations, Agency Development, Sales & Distribution, Customer Experience, Forecasting, Actuarial, Segmentation, Pricing new line: FS/Regtech: Compliance & Regulatory, Auto, STPI, Consumer Durables, Commercial, Mortgage new line: Knowledge of software engineering practices such as version control, continuous delivery, unit testing, documentation, release management new line: Experience in natural language processing, text analytics, data mining, text processing or other AI subdomains and techniques new line: Coach and lead a team of other data scientists, engineers, and other stakeholders new line: Propose suitable technology stacks for projects to be deployed across cloud platforms and on-premise infrastructure. new line: Solid data management and statistical modelling skills: new line: Experience with Scala/Python, Scikit-learn, TensorFlow, Keras, NLTK, PyTorch etc new line: Experience with leveraging best practices conducting advanced analytics projects new line: Experience in distributed & scalable ML development. Good PoV on TinyML and Embedded AI/ML new line:  new line: Preferred Technical and Professional Expertise new line: Experience with open-source distributed data processing & ML frameworks new line: Experience working in a Linux environment new line: Experience working within a development team setup which is building product/services new line: Experience with presenting complex data science processes/information to non-data scientists new line: Experience with Information Retrieval and relevant tools such as Lucene, Elasticsearch, Solr new line: Prioritization skills; ability to manage ad-hoc requests in parallel with ongoing projects new line: Strong experience in both classical ML modeling approaches and Deep learning based model approaches new line: Data analysis, reporting, visualization expertise and experience with tools such as Tableau, Alteryx, Python and R at scale new line: Good NLP knowledge and cloud experience preferred new line: Passion, Drive and Can-do attitude new line: Good communication skills new line: Willingness to thrive in ambiguous environments',
 '--',
 'Job Description new line: Introduction new line: As a Data Scientist at IBM, you will help transform our clients data into tangible business value by analyzing information, communicating outcomes and collaborating on product development. Work with Best in Class open source and visual tools, along with the most flexible and scalable deployment options. Whether it s investigating patient trends or weather patterns, you will work to solve real world problems for the industries transforming how we live. new line:  new line: Your Role and Responsibilities new line: Work with IBM Q Start team on active exploratory research engagements to prepare for future use case commercialization within specific industry new line: Engage and educate client data science teams to define promising areas for quantum exploration new line: Implement quantum approaches, which includes data pre-/post-processing, running numerics and visualizing data new line: Collaborate with industry and solutioning experts to design and shape experiments to demonstrate quantum-enabled advantage new line: Define best practices related to information architecture, including collection, integration, organization, analysis and visualization of data for quantum-enabled impact new line: Engage in practice development initiatives focused on building employee knowledge and skills in specific areas of expertise through coaching and development of training course material new line:  new line: Required Technical and Professional Expertise new line: PhD/Masters in STEM-related fields with knowledge in Quantum Computing. new line: 5 years of data engineering and data science experience new line: 2 years of consulting experience within specific industries with strong domain expertise and business acumen new line: Proficiency with classical approaches to machine learning and linear algebra, including Support Vector Machine (SVM) for linear categorization and Singular Value Decomposition (SVD) to reduce dimensionality of data new line: Familiar with Qiskit software, including Qiskit Aqua for domain applications and Qiskit Terra for quantum circuit design and optimization new line: Excellent ideation, facilitation and communications skills new line: Detail-oriented team player with strong interpersonal skills and ability to take a leadership role when necessary new line: Willingness to travel globally up to 40% once we return to a travel-safe environment. new line: English: Fluent new line:  new line: Preferred Technical and Professional Expertise new line: 2 years of experience in at least one of the industries, with knowledge of industry trends, R&D areas, and computationally intensive processes (e.g. optimization) new line: Familiarity with Qiskit',
 '--',
 '--',
 'Job Description new line: Introduction new line: As a Data Scientist at IBM, you will help transform our clients data into tangible business value by analyzing information, communicating outcomes and collaborating on product development. Work with Best in Class open source and visual tools, along with the most flexible and scalable deployment options. Whether it s investigating patient trends or weather patterns, you will work to solve real world problems for the industries transforming how we live. new line:  new line: Your Role and Responsibilities new line: Data Science Consultants are adept across data science techniques using open source tools to solve varied use cases for our clients new line: They work to build strong, enduring relationships with client staff based on innovation, trust and service excellence. new line: They are accountable for successful delivery of complex data science engagements adhering to client s requirements and timelines new line: They learn constantly and lead adoption of emerging technologies and approaches in their processes benefiting the client & IBM overall. new line:  new line: Required Technical and Professional Expertise new line: BTech (with 8 years of relevant experience) or Masters (with 6 years of relevant experience) in Operations Research, Applied Mathematics/ Statistics/ Econometrics, Electrical or Systems Engineering, Physics or similar highly quantitative field new line: Strong ability to transform business requirements into data science formulations and implement the solutions in an efficient and scalable fashion new line: Sound understanding of data science concepts, model development & performance tuning processes as well as coding, version control and CI/CD best practices new line: Demonstrated extensive experience in building and deploying production quality models in a live digital environment using data pipelines and ML Ops frameworks including handling model drift, retraining and version control lifecycle new line: Highly skilled in Python and various data science related libraries of Python including TensorFlow, Keras, Sci-Kit Lean, Pandas, Numpy and PySpark new line: Experience in Convolutional Neural Network / Computer Vision projects using TensorFlow, PyTorch and leveraging public / open-source libraries (VGG16, ImageNet, YOLO, OpenCV, etc) as well as ability to tweak, modify these CNN architectures when required for a specific business problem. new line: Demonstrated ability of scoping, executing and scaling multiple data science deliverables on their own new line: Must have worked in developing and deploying models using more than one cloud platform (AWS, Azure, GCP, IBM) new line: Ability to handle multiple projects as an individual contributor and as a lead / mentor to other team members managed directly or indirectly on a project / assignment new line: Excellent interpersonal and stakeholder management skills including ability to interact and present to senior stakeholders',
 'Job Description new line: As a Data Scientist at IBM, you will help transform our clients data into tangible business value by analyzing information, communicating outcomes and collaborating on product development. Work with Best in Class open source and visual tools, along with the most flexible and scalable deployment options. Whether it s investigating patient trends or weather patterns, you will work to solve real world problems for the industries transforming how we live. new line:  new line: Your Role and Responsibilities new line: Data Science Consultants are adept across data science techniques using open source tools to solve varied use cases for our clients new line: They work to build strong, enduring relationships with client staff based on innovation, trust and service excellence. new line: They are accountable for successful delivery of complex data science engagements adhering to client s requirements and timelines new line: They learn constantly and lead adoption of emerging technologies and approaches in their processes benefiting the client & IBM overall. new line: Required Technical and Professional Expertise new line: BTech (with 8 years of relevant experience) or Masters (with 6 years of relevant experience) in Operations Research, Applied Mathematics/ Statistics/ Econometrics, Electrical or Systems Engineering, Physics or similar highly quantitative field new line: Strong ability to transform business requirements into data science formulations and implement the solutions in an efficient and scalable fashion new line: Sound understanding of data science concepts, model development & performance tuning processes as well as coding, version control and CI/CD best practices new line: Demonstrated extensive experience in building and deploying production quality models in a live digital environment using data pipelines and ML Ops frameworks including handling model drift, retraining and version control lifecycle new line: Highly skilled in Python and various data science related libraries of Python including TensorFlow, Keras, Sci-Kit Lean, Pandas, Numpy and PySpark new line: Experience in Convolutional Neural Network / Computer Vision projects using TensorFlow, PyTorch and leveraging public / open-source libraries (VGG16, ImageNet, YOLO, OpenCV, etc) as well as ability to tweak, modify these CNN architectures when required for a specific business problem. new line: Demonstrated ability of scoping, executing and scaling multiple data science deliverables on their own new line: Must have worked in developing and deploying models using more than one cloud platform (AWS, Azure, GCP, IBM) new line: Ability to handle multiple projects as an individual contributor and as a lead / mentor to other team members managed directly or indirectly on a project / assignment new line: Excellent interpersonal and stakeholder management skills including ability to interact and present to senior stakeholders',
 '--',
 '--',
 '--']

In [107]:
description=[]
list=[0,3,6,7]
for i in list:
    for j in range(0,10):
        if(job_desc[j]!="--"):
          description.append(job_desc[j]) 
        else:
            if(job_desc[j]!=job_desc2[i]):
                description.append(job_desc2[i])
            else:
                description.append(job_desc2[i+1])
description[:10]

['Job Description new line: Introduction new line: Software Developers at IBM are the backbone of our strategic initiatives to design, code, test, and provide industry-leading solutions that make the world run today - planes and trains take off on time, bank transactions complete in the blink of an eye and the world remains safe because of the work our software developers do. Whether you are working on projects internally or for a client, software development is critical to the success of IBM and our clients worldwide. At IBM, you will use the latest software development tools, techniques and approaches and work with leading minds in the industry to build solutions you can be proud of. new line:  new line: Your Role and Responsibilities new line: IBM s Global Technology Services (GTS) business unit has embarked on a mission to be the most trusted partner to our clients and enable them with game changing technology backbone to drive competitive advantage. One of the most significant & challenging areas for our clients is Data. From identifying & capturing to curation & consumption - we would like to simplify, automate, and accelerate the data lifecycle within our client s myriad use cases. new line: To this effect we have launched specific offering(s) and are building out a team of passionate achievers to help us define, create, market & deliver data solutions to our clients. We are looking for a passionate Data Scientists with expertise in Machine Learning, who can contribute to deliver on this vision. This is a fun and fast paced environment, where developers are empowered to innovate and learn fast is our standard operating model. new line: As a Senior Data Scientist you will be at the forefront of this ride and get to work with end clients on a regular basis. You will be the face of GTS & evangelize the data science & ML solutions that we have to offer. You will create compelling value proposition and targeted content to significantly improve our chances of winning in the marketplace. You will defend IBM solutions and build trust with the client at all levels -operational to executive. You will help drive, qualify & close opportunities. You will be responsible for the execution and successful delivery of Data Science assignments. You will be responsible for identifying and supporting current and new hypotheses. With your understanding of complex concepts, you will translate hypotheses into actionable items that are understandable by non-technical business users. You understand challenges in the BFSI domains & can discover new avenues to apply AI/ML solutions to solve these challenges. The problems we address are significantly complex and we expect you to lead excellence in our data science methodologies. You have a distinct ability to identify and implement robust, efficient, and scalable solutions that leverage multiple techniques and/or technologies. You will Provide guidance and architecture support to platform development teams and oversee the development from initial concept to production deployment new line:  new line: Required Technical and Professional Expertise new line: As a leader in Data science organization, lead multiple scrum teams to deliver innovative ML solutions in BFSI space new line: PH.D or Master s degree in a quantitative field such as computer science, applied mathematics, statistics, physics, engineering or finance new line: Overall Data Science, Statistical Analysis, Data Analytics & Machine Learning experience of 10 years new line: 7 years of BFSI domain experience in implementing data science or AI solutions from exploration to production new line: 3 years of experience in a responsible senior or team lead role managing a team of data scientists who develop robust machine learning models to solve actual business problems new line: Expert understanding of ML Production deployments. Have atleast 3 years of experience in production grade ML design, development & deployment new line: Work closely with internal and external stakeholders, both technical and non-technical and help translate deep ML knowledge to stakeholders. new line: Work closely with ML engineering/Infrastructure team to help define the vision of ML training and ML inference platforms running on Cloud as well as On-prem new line: Mentor and grow Junior data scientists in the team on both DS modelling and software engineering skills new line: Expert ability to define Data Science model development & MLOps process, workflows, coding practices & DevOps practices new line: Extensive overview of applied methods in statistics, machine learning and artificial intelligence new line: Expert understanding of various AI/ML technology stacks including Cloud Based services new line: Help define the data science development workflows from coding and architecture best practices, data strategy, to ML training and Inference platforms new line: Demonstrated experience in creating AI/ML solutions within the BFSI space: new line: Banking: Credit, Risk, Customer Exp, Open Banking, Digital Banking, Cross-Sell, Up-Sell, Branch Ops, Treasury, Cards Business, SME Banking, Wealth Management new line: Insurance/Insurtech: Claims, Operations, Agency Development, Sales & Distribution, Customer Experience, Forecasting, Actuarial, Segmentation, Pricing new line: FS/Regtech: Compliance & Regulatory, Auto, STPI, Consumer Durables, Commercial, Mortgage new line: Knowledge of software engineering practices such as version control, continuous delivery, unit testing, documentation, release management new line: Experience in natural language processing, text analytics, data mining, text processing or other AI subdomains and techniques new line: Coach and lead a team of other data scientists, engineers, and other stakeholders new line: Propose suitable technology stacks for projects to be deployed across cloud platforms and on-premise infrastructure. new line: Solid data management and statistical modelling skills: new line: Experience with Scala/Python, Scikit-learn, TensorFlow, Keras, NLTK, PyTorch etc new line: Experience with leveraging best practices conducting advanced analytics projects new line: Experience in distributed & scalable ML development. Good PoV on TinyML and Embedded AI/ML new line:  new line: Preferred Technical and Professional Expertise new line: Experience with open-source distributed data processing & ML frameworks new line: Experience working in a Linux environment new line: Experience working within a development team setup which is building product/services new line: Experience with presenting complex data science processes/information to non-data scientists new line: Experience with Information Retrieval and relevant tools such as Lucene, Elasticsearch, Solr new line: Prioritization skills; ability to manage ad-hoc requests in parallel with ongoing projects new line: Strong experience in both classical ML modeling approaches and Deep learning based model approaches new line: Data analysis, reporting, visualization expertise and experience with tools such as Tableau, Alteryx, Python and R at scale new line: Good NLP knowledge and cloud experience preferred new line: Passion, Drive and Can-do attitude new line: Good communication skills new line: Willingness to thrive in ambiguous environments',
 'Job descriptionnew lineUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomesnew lineWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.new lineSelecting features, building and optimizing classifiers using machine learning and deep learning techniquesnew lineCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systemsnew lineProcessing, cleansing, and verifying the integrity of data used for analysisnew lineDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.new lineAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.new lineJob Qualifications:new lineMaster s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product developmentnew lineExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.new lineStrong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etcnew lineHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learningnew lineStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.new lineDeep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalentnew lineExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.new lineProficiency in using query languages, such as SQL, PL/SQLnew lineHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.new lineGood applied statistics skills, such as distributions, statistical testing, regression, etc.new lineGood ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.new lineA team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.new lineAbility to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlinesnew lineA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.new lineA self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data sciencenew lineRoleClinical Research Associate/Scientistnew lineIndustry TypeMedical Services / Hospitalnew lineFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnologynew lineEmployment TypeFull Time, Permanentnew lineRole CategoryR&Dnew lineEducationnew lineUG :Any Graduatenew linePG :Post Graduation Not Requirednew lineKey Skillsnew lineProduct managementComputer sciencemetadataMachine learningAgilePLSQLHealthcareQlikViewData miningPython',
 'Job Description new line: Introduction new line: Software Developers at IBM are the backbone of our strategic initiatives to design, code, test, and provide industry-leading solutions that make the world run today - planes and trains take off on time, bank transactions complete in the blink of an eye and the world remains safe because of the work our software developers do. Whether you are working on projects internally or for a client, software development is critical to the success of IBM and our clients worldwide. At IBM, you will use the latest software development tools, techniques and approaches and work with leading minds in the industry to build solutions you can be proud of. new line:  new line: Your Role and Responsibilities new line: IBM s Global Technology Services (GTS) business unit has embarked on a mission to be the most trusted partner to our clients and enable them with game changing technology backbone to drive competitive advantage. One of the most significant & challenging areas for our clients is Data. From identifying & capturing to curation & consumption - we would like to simplify, automate, and accelerate the data lifecycle within our client s myriad use cases. new line: To this effect we have launched specific offering(s) and are building out a team of passionate achievers to help us define, create, market & deliver data solutions to our clients. We are looking for a passionate Data Scientists with expertise in Machine Learning, who can contribute to deliver on this vision. This is a fun and fast paced environment, where developers are empowered to innovate and learn fast is our standard operating model. new line: As a Senior Data Scientist you will be at the forefront of this ride and get to work with end clients on a regular basis. You will be the face of GTS & evangelize the data science & ML solutions that we have to offer. You will create compelling value proposition and targeted content to significantly improve our chances of winning in the marketplace. You will defend IBM solutions and build trust with the client at all levels -operational to executive. You will help drive, qualify & close opportunities. You will be responsible for the execution and successful delivery of Data Science assignments. You will be responsible for identifying and supporting current and new hypotheses. With your understanding of complex concepts, you will translate hypotheses into actionable items that are understandable by non-technical business users. You understand challenges in the BFSI domains & can discover new avenues to apply AI/ML solutions to solve these challenges. The problems we address are significantly complex and we expect you to lead excellence in our data science methodologies. You have a distinct ability to identify and implement robust, efficient, and scalable solutions that leverage multiple techniques and/or technologies. You will Provide guidance and architecture support to platform development teams and oversee the development from initial concept to production deployment new line:  new line: Required Technical and Professional Expertise new line: As a leader in Data science organization, lead multiple scrum teams to deliver innovative ML solutions in BFSI space new line: PH.D or Master s degree in a quantitative field such as computer science, applied mathematics, statistics, physics, engineering or finance new line: Overall Data Science, Statistical Analysis, Data Analytics & Machine Learning experience of 10 years new line: 7 years of BFSI domain experience in implementing data science or AI solutions from exploration to production new line: 3 years of experience in a responsible senior or team lead role managing a team of data scientists who develop robust machine learning models to solve actual business problems new line: Expert understanding of ML Production deployments. Have atleast 3 years of experience in production grade ML design, development & deployment new line: Work closely with internal and external stakeholders, both technical and non-technical and help translate deep ML knowledge to stakeholders. new line: Work closely with ML engineering/Infrastructure team to help define the vision of ML training and ML inference platforms running on Cloud as well as On-prem new line: Mentor and grow Junior data scientists in the team on both DS modelling and software engineering skills new line: Expert ability to define Data Science model development & MLOps process, workflows, coding practices & DevOps practices new line: Extensive overview of applied methods in statistics, machine learning and artificial intelligence new line: Expert understanding of various AI/ML technology stacks including Cloud Based services new line: Help define the data science development workflows from coding and architecture best practices, data strategy, to ML training and Inference platforms new line: Demonstrated experience in creating AI/ML solutions within the BFSI space: new line: Banking: Credit, Risk, Customer Exp, Open Banking, Digital Banking, Cross-Sell, Up-Sell, Branch Ops, Treasury, Cards Business, SME Banking, Wealth Management new line: Insurance/Insurtech: Claims, Operations, Agency Development, Sales & Distribution, Customer Experience, Forecasting, Actuarial, Segmentation, Pricing new line: FS/Regtech: Compliance & Regulatory, Auto, STPI, Consumer Durables, Commercial, Mortgage new line: Knowledge of software engineering practices such as version control, continuous delivery, unit testing, documentation, release management new line: Experience in natural language processing, text analytics, data mining, text processing or other AI subdomains and techniques new line: Coach and lead a team of other data scientists, engineers, and other stakeholders new line: Propose suitable technology stacks for projects to be deployed across cloud platforms and on-premise infrastructure. new line: Solid data management and statistical modelling skills: new line: Experience with Scala/Python, Scikit-learn, TensorFlow, Keras, NLTK, PyTorch etc new line: Experience with leveraging best practices conducting advanced analytics projects new line: Experience in distributed & scalable ML development. Good PoV on TinyML and Embedded AI/ML new line:  new line: Preferred Technical and Professional Expertise new line: Experience with open-source distributed data processing & ML frameworks new line: Experience working in a Linux environment new line: Experience working within a development team setup which is building product/services new line: Experience with presenting complex data science processes/information to non-data scientists new line: Experience with Information Retrieval and relevant tools such as Lucene, Elasticsearch, Solr new line: Prioritization skills; ability to manage ad-hoc requests in parallel with ongoing projects new line: Strong experience in both classical ML modeling approaches and Deep learning based model approaches new line: Data analysis, reporting, visualization expertise and experience with tools such as Tableau, Alteryx, Python and R at scale new line: Good NLP knowledge and cloud experience preferred new line: Passion, Drive and Can-do attitude new line: Good communication skills new line: Willingness to thrive in ambiguous environments',
 'Job descriptionnew line  Skillsnew lineRequired Skills: Data Science, Machine Learning, Deep Learning, Python, NLPnew lineDesired Skills: Computer Visionnew lineRoles and responsibilitiesnew lineExperience in Data Modelling, R, Python, SQL, Data Science, Machine Learning, Deep Learning, NLP, Statisticsnew lineHave ability to solve Business problems using Datanew lineShould possess extensive knowledge of and experience in applying data mining and machine learning techniques on large amount of datasetsnew lineHigh level of proficiency in statistical tools like R, Pythonnew lineCandidate will be expected to communicate analytical results in a way that is meaningful for business stakeholders and provides actionable insights.new lineHave the ability to discover new opportunities where advanced analytical techniques can be leveraged for solving business problemsnew lineGood to Havenew lineExpertise in programming languages like Java/C/C /Pythonnew lineExperience with relational databases and SQL is good to havenew lineExperience in audio and video analyticsnew lineRelevant experience in Big Data platforms like Hadoop eco-systemnew lineCome up with innovative algorithms and solutionsnew lineStaffing Type:Permanentnew lineRoleClinical Research Associate/Scientistnew lineIndustry TypeIT Services & Consultingnew lineFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnologynew lineEmployment TypeFull Time, Permanentnew lineRole CategoryR&Dnew lineEducationnew lineUG :Any Graduatenew linePG :Any Postgraduatenew lineKey Skillsnew lineHospitalityNSEStaffingBfsiAnalyticalAgileData miningAnalyticsAutomotiveSQL',

DATAFRAME FOR THE SCRAPED DATA:

In [111]:
df2=pd.DataFrame()
df2["JOB_TITLE"]=job__[:10]
df2["COMPANY_NAME"]=company_[:10]
df2["LOCATION"]=location__[:10]
df2["FULL_JOB_DESC"]=description[:10]
df2

,JOB_TITLE,COMPANY_NAME,LOCATION,FULL_JOB_DESC
0,LEAD DATA SCIENTIST BFSI,IBM India Pvt. Limited,Bengaluru,Job Description new line: Introduction new lin...
1,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job descriptionnew lineUse predictive modeling...
2,LEAD DATA SCIENTIST BFSI,IBM India Pvt. Limited,Bengaluru,Job Description new line: Introduction new lin...
3,SENIOR DATA SCIENTIST,Happiest Minds Technologies Pvt.Ltd,Bangalore/Bengaluru,Job descriptionnew line Skillsnew lineRequire...
4,Data Scientist (Python & SQL),AVE-Promagne,Hyderabad/Secunderabad,Job descriptionnew lineRequired Technical and ...
5,LEAD DATA SCIENTIST BFSI,IBM India Pvt. Limited,Bengaluru,Job Description new line: Introduction new lin...
6,LEAD DATA SCIENTIST BFSI,IBM India Pvt. Limited,Bengaluru,Job Description new line: Introduction new lin...
7,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bangalore/Bengaluru,Job descriptionnew lineRoles and Responsibilit...
8,Freelance Data Scientist Project Based,Shikvix,Bangalore/Bengaluru,Job descriptionnew linenew lineJob description...
9,Data Scientist,NeenOpal Intelligent Solutions Private Limited,Bangalore/Bengaluru,Job descriptionnew lineRoles and Responsibilit...

QUESTION-3

Q3: In this question you have to scrape data using the filters available on the webpage

In [3]:
import pandas as pd
import selenium
from selenium import webdriver

In [4]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver")

In [14]:
url="https://www.naukri.com/"
driver.get(url)

In [15]:
search_job=driver.find_element_by_xpath("//input[@class='sugInp']")
search_job.send_keys('Data Scientist')

In [16]:
search_button=driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [23]:
#applying location and salary filters

In [17]:
loc_filter=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']//span")


for i in loc_filter :
    if (i.text=='Delhi / NCR'):
        i.click()
        break

In [18]:

sal_filter=driver.find_elements_by_xpath("//div[@class='mt-8 chckBoxCont']//span")
for i in sal_filter:
    if(i.text=='3-6 Lakhs'):
        i.click()
        break

In [24]:
#scraping required data

In [19]:
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job=[]
for i in job_title:
    job.append(i.text)
job

['Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Analyst/Data Scientist',
 'Data Scientist',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist',
 'Data Scientist / Data Analyst',
 'Data Scientist - WFH - MIND Infotech',
 'Immediate Openings For Data Scientist For Wipro C2H',
 'Data Scientist/ Machine Learning Engineer',
 'Data Scientist',
 'Data Scientist-immediate Joiners',
 'Junior Data Scientists & Engineers',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist Internship',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Hiring Data Scientist Develope || IDS Infotech LTD || (Permanent WFH)',
 'Data Scientist',
 'Data Scientist']

In [22]:
comp_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company=[]
for i in comp_name:
    company.append(i.text)
    
company

['GABA Consultancy services',
 'Skillenable Fintech Private Limited',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'GABA Consultancy services',
 'R Systems International Ltd.',
 'CARS24',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'IDESLABS PRIVATE LIMITED',
 'Creative Hands HR Consultancy',
 'Kusum Healthcare Pvt. Ltd.',
 'Quikruit Consulting LLP',
 'PY Consultancy',
 'TalPro',
 'iHackers Inc',
 'Fractal Analytics',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'iNICU',
 'IDS Infotech Ltd.',
 'Sentieo',
 'BlackBuck']

In [25]:
exp_req=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience=[]
for i in exp_req:
    experience.append(i.text)
experience

['0-0 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '0-0 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '0-0 Yrs',
 '4-6 Yrs',
 '2-5 Yrs',
 '0-3 Yrs',
 '2-6 Yrs',
 '0-1 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '2-7 Yrs',
 '3-7 Yrs']

In [26]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location=[]
for i in loc:
    location.append(i.text)
    
location

['Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Noida',
 'Gurgaon/Gurugram',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahmedabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR(Okhla)',
 'Noida',
 'New Delhi, Delhi / NCR',
 'Gurgaon/Gurugram',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi',
 'Chandigarh, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Delhi',
 'Gurgaon, Bengaluru']

In [28]:
#creating DataFrame for the scraped data
import pandas as pd

In [29]:
df3=pd.DataFrame()
df3["JOB_TITLE"]=job[:10]
df3["COMPANY_NAME"]=company[:10]
df3["EXPERIENCE_REQUIRED"]=experience[:10]
df3["JOB_LOCATION"]=location[:10]
df3

,JOB_TITLE,COMPANY_NAME,EXPERIENCE_REQUIRED,JOB_LOCATION
0,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
1,Data Analyst/Data Scientist,Skillenable Fintech Private Limited,2-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
2,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs,Gurgaon/Gurugram
3,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
4,Data Scientist,R Systems International Ltd.,3-6 Yrs,Noida
5,Data Scientist / Data Analyst,CARS24,1-5 Yrs,Gurgaon/Gurugram
6,Data Scientist - WFH - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC..."
7,Immediate Openings For Data Scientist For Wipr...,IDESLABS PRIVATE LIMITED,5-10 Yrs,Gurgaon/Gurugram
8,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,0-0 Yrs,"Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme..."
9,Data Scientist,Kusum Healthcare Pvt. Ltd.,4-6 Yrs,Delhi / NCR(Okhla)

QUESTION-5
SCRAPING DATA FROM GLASSDOOR

In [35]:
import selenium
from selenium import webdriver

In [36]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver")

In [102]:
#fetching glassdoor url

In [37]:
url="https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [101]:
#maximizing the windows
driver.maximize_window()

In [103]:
# scraping location and job_title element and sending keys

In [45]:
search_btn=driver.find_element_by_xpath("//input[@id='sc.keyword']")

In [47]:
search_btn.send_keys('Data Scientist')

In [51]:
loc_btn=driver.find_element_by_xpath("//input[@id='sc.location']")

In [53]:
loc_btn.send_keys('Noida')

In [104]:
#scraping the search button's web element

In [58]:
search_btn=driver.find_element_by_xpath("//span[@class='css-8zxfjs']")

In [60]:
search_btn.click()

In [76]:
job_title=driver.find_elements_by_xpath("//a[@class='jobLink job-search-key-1rd3saf eigr9kq1']/span")
job_title[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="00cf675053e85501495afdd7266b119e", element="c29259d0-859d-4462-855f-466e83a648f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="00cf675053e85501495afdd7266b119e", element="358025ca-5eb0-4429-81b6-78531fdd2ac1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="00cf675053e85501495afdd7266b119e", element="7aa5c979-bcc6-4f6d-afa6-1a4508356a76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="00cf675053e85501495afdd7266b119e", element="43a0fde4-88da-4efe-85ef-33ec3de24e86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="00cf675053e85501495afdd7266b119e", element="64ff7958-5c1d-47cf-8dd3-cf1cde8ffe69")>,
 <selenium.webdriver.remote.webelement.WebElement (session="00cf675053e85501495afdd7266b119e", element="f8c8aed2-1bd5-4c8f-ba30-d70b4e1a1c51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="00cf675053e85501495afdd7266b119e", element="2855e15b-d599-416d-8df6-4224b51026ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="00cf675053e85501495afdd7266b119e", element="58bce804-bd75-4eea-b75d-7497c8654e72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="00cf675053e85501495afdd7266b119e", element="123bf7b7-f6ac-4c3e-b9a2-a1600ca434ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="00cf675053e85501495afdd7266b119e", element="69a7d9c5-d471-4bba-bdb3-905540c3a487")>]

In [84]:
#using driver.execute script command to scroll down the page
job_titles=[]
for i in job_title[:10]:
    driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
    
    job_titles.append(i.text)
    
job_titles

['Data Analytics part time job/internship at Noida',
 'Associate Data Scientist',
 'Data Scientist',
 'Management Trainee – Data Science',
 'Analyst – Data Science',
 'Senior Data Scientist',
 'Data Scientist Intern',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist',
 'Data Scientist']

In [100]:
#scraping the name of the companies

In [85]:
company=driver.find_elements_by_xpath("//a[@class=' job-search-key-l2wjgv e1n63ojh0 jobLink']")

In [86]:
company_name=[]
for i in company[:10]:
    driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
    
    company_name.append(i.text)
    
company_name

['Noisy Lion',
 'Liberin Technologies Private Limited',
 'AlgoScale Technologies Private Limited',
 'Grail Insights',
 'Grail Insights',
 'Innovacer',
 'Salasar New Age Technologies',
 'IBM',
 'Techlive',
 'Lenskart']

In [99]:
#scraping time lapsed since the ad was posted

In [87]:
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")

In [89]:
time_since_posted=[]
for i in days[:10]:
    driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
    
    time_since_posted.append(i.text)
    
time_since_posted

['24h', '30d+', '14d', '24h', '24h', '30d+', '30d+', '19d', '30d+', '2d']

In [98]:
#scraping company rating

In [92]:
ratings=driver.find_elements_by_xpath("//span[@class=' job-search-key-srfzj0 e1cjmv6j0']")

In [93]:
rating=[]
for i in ratings[:10]:
    try:
        driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        rating.append(i.text)
    except:
        rating.append("Not Available")
rating

['3.9', '3.5', '3.5', '3.8', '3.9', '3.6', '3.8', '3.3', '4.1', '3.8']

In [94]:
#creating a DataFrame for the stored data
import pandas as pd

In [96]:
df4=pd.DataFrame()
df4["INDEX"]=range(1,11)
df4["COMPANY_NAME"]=company_name[:10]
df4["RATING"]=rating[:10]
df4["TIME_SINCE_POSTED"]=time_since_posted[:10]
df4.set_index('INDEX',inplace=True)

In [97]:
df4

                                 COMPANY_NAME RATING TIME_SINCE_POSTED
INDEX
1                                  Noisy Lion    3.9               24h
2        Liberin Technologies Private Limited    3.5              30d+
3      AlgoScale Technologies Private Limited    3.5               14d
4                              Grail Insights    3.8               24h
5                              Grail Insights    3.9               24h
6                                   Innovacer    3.6              30d+
7                Salasar New Age Technologies    3.8              30d+
8                                         IBM    3.3               19d
9                                    Techlive    4.1              30d+
10                                   Lenskart    3.8                2d

QUESTION-6

In [39]:
import selenium
from selenium import webdriver

In [3]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver")

In [4]:
url='https://www.flipkart.com/'
driver.get(url)

In [5]:
driver.maximize_window()

In [34]:
#logging into flipkart and providing necessary information
email_btn=driver.find_element_by_xpath("//input[@class='_2IX_2- VJZDxU']")

email_btn=driver.find_element_by_xpath("//input[@class='_2IX_2- VJZDxU']")

In [8]:
email_btn.send_keys('9625708656')

In [9]:
password_btn=driver.find_element_by_xpath("//input[@class='_2IX_2- _3mctLh VJZDxU']")

In [89]:
#the password has been hidden due to privacy concerns

In [10]:
password_btn.send_keys("******")

In [11]:
login_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2HKlqd _3AWRsL']")

In [12]:
login_btn.click()

In [14]:
search_items=driver.find_element_by_xpath("//input[@class='_3704LK']")

In [15]:
search_items.send_keys("sunglasses")

In [16]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [17]:
search_btn.click()

In [42]:
import time
from selenium.webdriver.common.by import By

In [81]:
#creating functions to scrape the similar attributes from different pages

In [47]:
def scrape_brand_name(url):
    brand=[]
    driver.get(url)
    try:
        brand_el=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        time.sleep(3)
        
        for i in brand_el:
            
            brand.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
            
        return brand
    except StaleElementReferenceException as e:
        print("exception raised",e)

In [73]:
def scrape_product_des(url):
    product_des=[]
    driver.get(url)
    product_el=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in product_el:
        try:
            product_des.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            product_des.append("--")
        
    return product_des

In [72]:
def scrape_price(url):
    price=[]
    driver.get(url)
    price_el=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in price_el:
        try:
            price.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
            
        except:
            price.append("--")
        
    return price

In [74]:
def scrape_discount(url):
    discount=[]
    driver.get(url)
    
    discount_el=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
        
    for i in discount_el:
        
        try:
            
            discount.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            discount.append("--")
        
    return discount

In [75]:
import time

In [76]:
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [77]:
brand_list=[]
product_list=[]
discount_list=[]
price_list=[]
urls='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='
for i in ['1','2','3']:

   url= urls+i
   time.sleep(5)
   brand=scrape_brand_name(url)
   brand_list.extend(brand) 
   product=scrape_product_des(url)
   product_list.extend(product)
   discount=scrape_discount(url)
   discount_list.extend(discount)
   price=scrape_price(url)
   price_list.extend(price)

In [78]:
length=[len(brand_list),len(product_list),len(discount_list),len(price_list)]
length

[120, 118, 119, 120]

In [80]:
#creating DataFrame for the scraped Data
import pandas as pd
df5=pd.DataFrame()
df5["BRAND"]=brand_list[:100]
df5["PRODUCT_DESCRIPTION"]=product_list[:100]
df5["DISCOUNT"]=discount_list[:100]
df5["PRICE"]=price_list[:100]
df5

,BRAND,PRODUCT_DESCRIPTION,DISCOUNT,PRICE
0,Villain,Others Wayfarer Sunglasses (Free Size),40% off,₹599
1,ROYAL SON,Polarized Sports Sunglasses (68),50% off,"₹1,234"
2,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",88% off,₹198
3,Elligator,UV Protection Round Sunglasses (54),88% off,₹295
4,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",89% off,₹284
...,...,...,...,...
95,ROYAL SON,"UV Protection, Night Vision, Riding Glasses Re...",73% off,₹664
96,ROZZETTA CRAFT,"UV Protection, Gradient Oval Sunglasses (58)",72% off,₹398
97,NuVew,"by Lenskart Polarized, UV Protection Cat-eye S...",67% off,₹459
98,AISLIN,"UV Protection, Mirrored Round Sunglasses (Free...",29% off,₹495
99,ROYAL SON,UV Protection Aviator Sunglasses (58),83% off,"₹1,415"

QUESTION-7

Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to
go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

In [2]:
import selenium
from selenium import webdriver

In [3]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver")

In [4]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC"

In [5]:
driver.get(url)

In [6]:
driver.maximize_window()

In [7]:
all_reviews_btn=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")

In [8]:
all_reviews_btn.click()

In [97]:
url1='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART'

In [98]:
#defining functions to scrape data

In [20]:
def scrape_rating():
    rating=[]
    driver.refresh()
    rating_el=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    time.sleep(3)
    for i in rating_el:
        try:
            rating.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            rating.append("--")
    return rating

In [21]:
def scrape_review_summary():
    review_sum=[]
    driver.refresh()
    rev_sum=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    time.sleep(3)
    for i in rev_sum:
        try:
            review_sum.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            review_sum.append("--")
    return review_sum

In [22]:
def scrape_full_review():
    full_review=[]
    driver.refresh()
    rev_el=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div")
    time.sleep(3)
    for i in rev_el:
        try:
            full_review.append(i.text.replace("\n","  New Line: "))
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            full_review.append("--")
    return full_review

In [15]:
import time

In [23]:
rating=[]
review_sum=[]
full_review=[]
length=len(rating)
while(length<=100):
    driver.refresh()
    rating.extend(scrape_rating())
    review_sum.extend(scrape_review_summary())
    full_review.extend(scrape_full_review())
    time.sleep(5)
    length=len(rating)
    next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    next_btn.click()
    
len(review_sum)

110

In [27]:
#checking if the data was scraped properly

In [25]:
length_list=[len(full_review),len(rating),len(review_sum)]
length_list

[110, 110, 110]

In [26]:
review_sum

['Brilliant',
 'Best in the market!',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Best in the market!',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Best in the market!',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Best in the market!',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Best in the market!',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Best in the market!',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Best in the market!',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Best in the market!',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Best in the market!',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Best in the market!',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Brilliant',
 'Best in the market!',
 'Simply awesome',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended']

In [30]:
#creating a DataFrame for the scraped data
import pandas as pd
df6=pd.DataFrame()
df6["INDEX"]=range(1,101)
df6["RATING"]=rating[:100]
df6["REVIEW_SUMMARY"]=review_sum[:100]
df6["FULL_REVIEW"]=full_review[:100]
df6.set_index("INDEX",inplace=True)
df6

,RATING,REVIEW_SUMMARY,FULL_REVIEW
INDEX,,,
1,5,Brilliant,The Best Phone for the Money New Line: New ...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Simply awesome,Really satisfied with the Product I received.....
4,5,Perfect product!,Amazing phone with great cameras and better ba...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
96,5,Worth every penny,Previously I was using one plus 3t it was a gr...
97,5,Great product,Amazing Powerful and Durable Gadget. New Line...
98,4,Good choice,So far it’s been an AMAZING experience coming ...
99,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
100,5,Highly recommended,What a camera .....just awesome ..you can feel...

QUESTION-8

Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [31]:
import selenium
from selenium import webdriver

In [32]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver")

In [33]:
url='https://www.flipkart.com/'
driver.get(url)

In [35]:
email_btn=driver.find_element_by_xpath("//input[@class='_2IX_2- VJZDxU']")

In [36]:
email_btn.send_keys("9625708656")

In [39]:
password_column=driver.find_element_by_xpath("//input[@class='_2IX_2- _3mctLh VJZDxU']")

In [1]:
#The password has been hidden due to privacy concerns

In [40]:
password_column.send_keys("*******")

In [41]:
login_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2HKlqd _3AWRsL']")

In [42]:
login_btn.click()

In [43]:
search_column=driver.find_element_by_xpath("//input[@class='_3704LK']")

In [44]:
search_column.send_keys("sneakers")

In [45]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [46]:
search_btn.click()

In [48]:
#creating functions to scrape data
import time

In [49]:
def scrape_brand():
    brand=[]
    brand_el=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    time.sleep(3)
    for i in brand_el:
        try:
            brand.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            brand.append("--")
    return brand

In [81]:
def scrape_product_des():
    product_des=[]
    des_el=driver.find_elements_by_xpath("//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']")
    print(len(des_el))
    time.sleep(3)
    for i in des_el:
        try:
            product_des.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            product_des.append("--")
    return product_des

In [57]:
def scrape_price():
    price=[]
    price_el=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    time.sleep(3)
    for i in price_el:
        try:
            price.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            price.append("--")
            
    return price

In [75]:
def scrape_discount():
    discount=[]
    discount_el=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    time.sleep(3)
    for i in discount_el:
        try:
            discount.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            discount.append("--")
            
    return discount

In [60]:
#scraping data using functions

In [84]:
brand=[]
product_des=[]
price=[]
discount=[]
length=len(brand)
while(length<=100):
    driver.refresh()
    brand.extend(scrape_brand())
    product_des.extend(scrape_product_des())
    price.extend(scrape_price())
    discount.extend(scrape_discount())
    time.sleep(3)
    next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    next_btn.click()
    length=len(brand)
len(price)

40
40
40

120

In [85]:
#inspecting the length of scraped attributes
length_list=[len(brand),len(product_des),len(discount),len(price)]
length_list

[120, 120, 120, 120]

In [86]:
#creating DataFrame for the scraped data
import pandas as pd
sneakers=pd.DataFrame()
sneakers["INDEX"]=range(1,101)
sneakers["BRAND"]=brand[:100]
sneakers["PRODUCT_DESCRIPTION"]=product_des[:100]
sneakers["DISCOUNT"]=discount[:100]
sneakers["PRICE"]=price[:100]
sneakers.set_index("INDEX",inplace=True)
sneakers

,BRAND,PRODUCT_DESCRIPTION,DISCOUNT,PRICE
INDEX,,,,
1,pollachief,Casual Sneaker for Men Sneakers For Men,57% off,₹421
2,HRX by Hrithik Roshan,Sneakers For Men,56% off,"₹1,699"
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,66% off,₹536
4,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,86% off,₹474
5,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,70% off,₹536
...,...,...,...,...
96,Vedboy,Feather Print New Spring Season White Shoes Me...,35% off,₹449
97,Ardeo,RAMBOW FUNKY SHOE FOR GYM OUTDOOR WALKING Snea...,71% off,₹449
98,VIPSJAZZY,Sneakers For Men,60% off,₹399
99,Arohi,Sneakers For Men,53% off,₹460
100,U.S. POLO ASSN.,LEBRON 2.0 Sneakers For Men,40% off,"₹2,399"

QUESTION-9

 Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” ,Color filter to “Black”.

In [1]:
import selenium
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver")

In [3]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [4]:
driver.maximize_window()

In [5]:
#since there is no "Rs. 6649 to Rs. 13099” filter,using the nearest filter

In [6]:
price_filter=driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")

In [7]:
price_filter[7].click()

In [8]:
colour_filter=driver.find_elements_by_xpath("//label[@class='common-customCheckbox']")

In [9]:
colour_filter[0].click()

In [10]:
#defining functions for scraping
import time

In [11]:
def scrape_brand():
    brand=[]
    brand_el=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    time.sleep(3)
    for i in brand_el:
        try:
            brand.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            brand.append("--")
            
    return brand

In [13]:
def scrape_des():
    description=[]
    des_el=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
    time.sleep(3)
    for i in des_el:
        try:
            description.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            description.append("--")
    return description

In [14]:
def scrape_price():
    price=[]
    price_el=driver.find_elements_by_xpath("//div[@class='product-price']")
    time.sleep(3)
    for i in price_el:
        try:
            price.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            price.append("--")
    return price

In [15]:
brand=[]
description=[]
price=[]
length=len(brand)
while(length<=100):
    driver.refresh()
    brand.extend(scrape_brand())
    description.extend(scrape_des())
    price.extend(scrape_price())
    time.sleep(3)
    length=len(brand)
    next_btn=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_btn.click()
    
len(price)

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=93.0.4577.63)

In [42]:
#checking if the scraped data is clean and uniform

In [36]:
length_list=[len(brand),len(description),len(price)]
length_list

[150, 300, 150]

In [40]:
description_new=[]
for i in range(0,300,2):
    description_new.append(description[i])
description_new

['Men Air Zoom Structure Running',
 'Men Driving Shoes',
 'Men Cell Fraction Fade Running',
 'Men Solid Leather Formal Slip-Ons',
 'Men Velocity Nitro Running',
 'Mesh Hybrid Fuego Running',
 'Men BlackTraining or Gym Shoes',
 'Men Charged Rogue 2.5 RFLCT',
 'Men FUSE Training Shoes',
 'Men HOVR Infinite Running',
 'Women HOVR Sonic 4 Running',
 'Women HOVR Sonic 4 FnRn',
 'Men Tennis Shoes',
 "Men BlazerLow '77 Sneakers",
 'Men Football Shoes',
 'Men Jamming 2.0 Running Shoes',
 'Men Solid Leather Formal Monk Shoes',
 'Men Black Shoes',
 'Women Eternity Nitro Running',
 'Men Leather Slip-On Sneakers',
 'Women Charged Assert 8 Running',
 'Women Charged Impulse Shft',
 'Men Loafers',
 'Women Charged Vantage ClrShft',
 'TREKKING 100 Boots',
 'Men Solid Leather Formal Slip-Ons',
 'GS SC 3Zero IV Basketball',
 'Men Formal Derbys',
 'Women GlideRide Running Shoes',
 'Men Leather Formal Loafers',
 'Men Liberate NITRO Running',
 'Men HOVR Sonic STRT Tech Shoes',
 'Women Running Shoes',
 'Men Solid Formal Leather Derbys',
 'Unisex Clyde Basketball Shoes',
 'Men Leather Flat Boots',
 'Men Solid Leather Formal Derbys',
 'Women Charged Bandit 6 Running',
 'Men Black Leather Loafers',
 'Unisex FerrariRS-Fast Sneakers',
 'Men Solid Loafers',
 'Women Charged Rogue 2.5ClrSft',
 'Unisex Ferrari Drift8 Sneakers',
 'Unisex Mercedes F1 Sneakers',
 'Unisex Colourblocked Sneakers',
 'Scuderia Ferrari A3ROCAT Shoes',
 'Men Leather Formal Loafers',
 'Men Solid Formal Monks Shoes',
 'Men Printed Slip-On Sneakers',
 'Women BMW M Motorsport Shoes',
 'Women BMW M Motorsport Shoes',
 'Men Leather Formal Slip-Ons',
 'Women Sneakers',
 'Leather Block Sandals',
 'Men Leather Formal Loafers',
 'Women GlideRide Running Shoes',
 'Men Solid Formal Leather Derbys',
 'Men Solid Leather Formal Derbys',
 'Women Leather Heeled Boots',
 'Men Black Leather Loafers',
 'Women Charged Breathe CLR SFT',
 'Women Peep Toe Heels',
 'Women Solid Leather Gladiators',
 'Women Running Shoes',
 'Women Liberate NITRO Running',
 'Men Trekking Shoes',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Leather Sneakers',
 'Men Textured Sneakers',
 'Women Air Zoom Running Shoes',
 'Men Solid Leather Loafers',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Men KD500 Running Shoe',
 'Men Leather Formal Slip-Ons',
 'Unisex BMW MMS RS-FastSneakers',
 'Men Running Shoes',
 'Men Black Running Sports Shoes',
 'Men Black Walking Shoes',
 'Men Walking Shoes',
 'Men Running Shoes',
 'Men Leather Formal Slip-Ons',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Women Solid Leather Heels',
 'Women Heeled Boots',
 'Men Textured Leather Loafers',
 'Women Leather Pumps',
 'Men Solid Sneakers',
 'Men Leather Driving Shoes',
 'Women Solid Sneakers',
 'Women Open Toe Flats',
 'Men Solid Leather Formal Derbys',
 'Men Solid Leather Formal Monks',
 'Unisex Pacer Future Sneakers',
 'Women Leather Pumps',
 'Men Vomero 16 Running Shoes',
 'Men ZOOM SPAN 3 Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Women Woven Design Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Leather Formal Loafers',
 'Men Leather Formal Loafers',
 'Women LeatherSneakers',
 'Women Solid Flat Boots',
 'Men AIR MAX INFINITY Sneakers',
 'Leather Block Peep Toes',
 'Leather Heeled Boots',
 'Leather Heeled Boots',
 'Men Kaptir Super Sneakers',
 'Leather Heeled Boots',
 'Women Gladiators',
 'Ustraa black',
 'Women Open Toe Flats',
 'Men Formal Leather Slip-Ons',
 "Men Air Force 1 '07 Sneakers",
 'Women Block Heeled Boots',
 'Platform Peep Toes with Buckles',
 'Block Heeled Boots with Laser Cuts',
 'Women Embellished Sandals',
 'Men Patent Leather Sneakers',
 'Women Mid-Top Flat Boots',
 'Men Solid Leather Shoes',
 'Men Textured Formal Leather Loafers',
 'Men Textured Leather Formal Loafers',
 'Men Textured Formal Leather Loafers',
 'Women F1 Ridge Cat Sneakers',
 'Men Solid Formal Leather Slip-On Shoes',
 'Men Solid Leather Formal Derbys',
 'Women Leather Sneakers',
 'Unisex Rebound Future Trainers',
 'Men Running Shoes',
 'Men Textured Leather Loafers',
 'Men Sneakers',
 'Men Sneakers',
 'HOVR Infinite 2 Running Shoes',
 'Men Solid Leather Formal Brogues',
 'Unisex Leather Trainers',
 'Men Solid Leather Formal Derbys',
 'Men Leather Chelsea Boots',
 'Men Lightstrike Go Running',
 'Men Leather Loafers',
 'Men Zoom Winflo 8 Shoes',
 'Unisex Colourblocked Sneakers',
 'Men Solid Leather Formal Brogues',
 'Unisex OP-1 PWRFrame Trainers',
 'Men X9000L3 Running Shoes',
 'Men Black Running Shoes',
 'Unisex Black Sneakers']

In [41]:
#creating Dataframe for the scraped data
import pandas as pd
myntra_shoes=pd.DataFrame()
myntra_shoes["INDEX"]=range(1,101)
myntra_shoes["BRAND"]=brand[:100]
myntra_shoes["SHORT_DESCRIPTION"]=description_new[:100]
myntra_shoes["PRICE"]=price[:100]
myntra_shoes.set_index("INDEX",inplace=True)
myntra_shoes

,BRAND,SHORT_DESCRIPTION,PRICE
INDEX,,,
1,Nike,Men Air Zoom Structure Running,Rs. 10295
2,ALDO,Men Driving Shoes,Rs. 11999
3,Puma,Men Cell Fraction Fade Running,Rs. 6999
4,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
5,Puma,Men Velocity Nitro Running,Rs. 10999
...,...,...,...
96,Puma,Unisex Pacer Future Sneakers,Rs. 6999
97,Heel & Buckle London,Women Leather Pumps,Rs. 7192Rs. 8990(20% OFF)
98,Nike,Men Vomero 16 Running Shoes,Rs. 13495
99,Nike,Men ZOOM SPAN 3 Running Shoes,Rs. 7195
100,J.FONTINI,Men Solid Leather Formal Slip-Ons,Rs. 7990

QUESTION-10

In [165]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

In [166]:
driver=webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver_win32\chromedriver")

In [167]:
url="https://www.amazon.in/"
driver.get(url)

In [168]:
driver.maximize_window()

In [169]:
search_col=driver.find_element_by_xpath("//input[@class='nav-input nav-progressive-attribute']")
search_col.send_keys('laptop')

In [170]:
search_button=driver.find_elements_by_xpath("//input[@class='nav-input nav-progressive-attribute']")

In [171]:
search_button[1].click()

In [58]:
#applying filters

In [59]:
#i7=driver.find_elements_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']")

#for i in i7:
    
#print(i.text)
#if(i.text)=='Intel Core i7':
    #i.click()
#break

In [60]:
#the method explained in the doubt clearing session did not work
#using the filters manually

In [172]:
title_el=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
title=[]
for i in title_el[:10]:
    title.append(i.text)
title

['HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/White/2 kg), FX516PC-HN062T',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/Gray/2 kg), FX516PC-HN063T',
 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33.78cm) FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/Black/997gms), 4ZR1D71993',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Laptop(16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 15.6" FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN']

In [173]:
price_el=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price=[]
for i in price_el[:10]:
    price.append(i.text)
price

['1,23,350',
 '57,990',
 '77,990',
 '5,56,524',
 '85,990',
 '84,990',
 '92,990',
 '1,07,990',
 '98,500',
 '73,990']

In [174]:
url2=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

rating_url=[]
for i in url2[:10]:
    rating_url.append(i.get_attribute('href'))
rating_url

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A10081262K6KZOZ37JXYV&url=%2FHP-Processor-13-3-inch-Touchscreen-13-ba1018TX%2Fdp%2FB091FJ13Q5%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3Dlaptop%26qid%3D1631549097%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1631549097&id=4670954863775408&widgetName=sp_atf',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089DFJHZ8/ref=sr_1_2?dchild=1&keywords=laptop&qid=1631549097&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-2',
 'https://www.amazon.in/Lenovo-IdeaPad-Windows-Graphics-82H1002CIN/dp/B094XJPQ6N/ref=sr_1_3?dchild=1&keywords=laptop&qid=1631549097&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/Asus-G703GI-E5148T-17-3-inch-i9-8950HK-Processor/dp/B07GRCW51K/ref=sr_1_4?dchild=1&keywords=laptop&qid=1631549097&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/ASUS-Dash-F15-15-6-inch-i7-11370H-FX516PC-HN062T/dp/B096KZ11KK/ref=sr_1_5?dchild=1&keywords=laptop&qid=1631549097&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/ASUS-Dash-F15-15-6-inch-i7-11370H-FX516PC-HN063T/dp/B096KVJ5PC/ref=sr_1_6?dchild=1&keywords=laptop&qid=1631549097&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/HP-Pavilion-13-3-inch-Ceramic-13-bb0078TU/dp/B09839P9XB/ref=sr_1_7?dchild=1&keywords=laptop&qid=1631549097&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/Fujitsu-33-78cm-Convertible-Graphics-4ZR1D71993/dp/B098P4M233/ref=sr_1_8?dchild=1&keywords=laptop&qid=1631549097&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_9?dchild=1&keywords=laptop&qid=1631549097&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/Lenovo-IdeaPad-250Nits-Graphics-81Y4019EIN/dp/B097TZMG7R/ref=sr_1_10?dchild=1&keywords=laptop&qid=1631549097&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10']

In [175]:
import time
rating=[]
for i in rating_url[:10]:
    driver.get(i)
    time.sleep(3)
    try:
        
        ratings = driver.find_element(By.XPATH,".//span[@class='a-icon-alt']/..")
        ratings = ratings.get_attribute('innerHTML').split(">")[1].split(" ")[0]
        rating.append(ratings)
    except:
        
        
        rating.append("00")
rating

['4.1', '4.2', '4.3', '3.7', 'Previous', '3.0', '5.0', '4.1', '4.1', '4.4']

In [83]:
len(price)

22

In [84]:
len(title)

10

In [176]:
#creating DataFrame for the scraped data
import pandas as pd
laptop_df=pd.DataFrame()
laptop_df['INDEX']=range(1,11)
laptop_df['TITLE']=title[:10]
laptop_df['RATING']=rating[:10]
laptop_df['PRICE']=price[:10]
laptop_df.set_index('INDEX',inplace=True)
laptop_df

                                                   TITLE    RATING     PRICE
INDEX
1      HP Envy 11th Gen Core i7 Processor 13.3-inch (...       4.1  1,23,350
2      Mi Notebook Horizon Edition 14 Intel Core i7-1...       4.2    57,990
3      Lenovo IdeaPad S540 11th Gen Intel Core i7 13....       4.3    77,990
4      ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...       3.7  5,56,524
5      ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...  Previous    85,990
6      ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...       3.0    84,990
7      HP Pavilion 13(2021) 11th Gen Intel Core i7 La...       5.0    92,990
8      Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....       4.1  1,07,990
9      Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...       4.1    98,500
10     Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...       4.4    73,990

END OF WORKSHEET